{% extends "base.html" %}

{% load static %}

{% block navbar_main %}Finanzas{% endblock %}
{% block navbar_appName %}Documentos{% endblock %}
{% block navbar_Type %}Carga - RHE{% endblock %}

{% block panel-content %}

<div class="container-fluid">
    <div class="row min-vh-80">
        <div class="col-lg-10 col-md-10 col-12 m-auto">

            <div class="card">
                <div class="card-header p-0 position-relative mt-n5 mx-3 z-index-2">
                    <div class="bg-gradient-info shadow-dark border-radius-lg pt-3 pb-2">
                        <h6 class="text-center text-white">ARCHIVO PARA CARGA MASIVA DE RHE</h6>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" border-radius-xl bg-white" data-animation="FadeIn">
                        <div class="row ps-3 pe-md-3">
                            <div class="col-12 col-sm-12">
                                <label for="" class="mt-4 mb-0">{{ form.archivo.label_tag }}</label>
                                <div class="input-group input-group-outline focused is-focused">
                                    
                                    {{ form.archivo }}
                                    {% if form.archivo.errors %}
                                    <div class="alert alert-danger mt-2">
                                        {{ form.archivo.errors }}
                                    </div>
                                    {% endif %}
                                </div>
                                <button type="submit" class="btn btn-primary mt-4">Procesar Archivo</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}

{% endblock JSscripts %}