Django==4.2.1
djangorestframework==4.15.0
unipath==1.1
django-plotly-dash==1.6.6
numpy==1.22.4
django-multiselectfield==0.1.12
django-import-export
psycopg2
django-model-utils
parserheader
pandas
xhtml2pdf
selenium
webdriver-manager