{% extends "producto/base-transformadores.html" %}

{% load  static %}

{% block company %} Pedidos {% endblock company %}
{% block companyMenu %} {{ CompanyName }} {% endblock companyMenu %}
{% block appName %} Nuevo {% endblock appName %}
{% block Type %} Transformadores {% endblock Type %}

{% block panel-content %}

<div class="row min-vh-80">
  <div class="col-lg-8 col-md-10 col-12 m-auto">

    <div class="card">
      <div class="card-header p-0 position-relative mt-n5 mx-3 z-index-2">
        <div class="bg-gradient-dark shadow-dark border-radius-lg pt-3 pb-2">
          <h6 class="text-center text-white"> ELIMINAR TRANSFORMADOR DE CATALOGO </h6>
        </div>
      </div>
      <div class="card-body">
        <h6 class="mb-3">¿Esta seguro de eliminar transformador de catálogo?</h6>
        <ul>
          <li>Transformador: <span class="font-weight-bold">{{object.barcode}}</span></li>
          <li>Modelo: <span class="font-weight-bold"> {{object.model_name}}</span> </li>
          <li>Proveedor: <span class="font-weight-bold">{{object.provider}}</span></li>
          <li>Características: <span class="font-weight-bold">{{object.get_KVA_display}} kVA - {{object.get_LV_display}} - {{object.get_TYPE_display}}</span></li>
        </ul>
        <div class="d-flex">
          <a href="{% url 'producto_app:transformador-lista' %}" class="btn bg-gradient-dark mb-0 js-btn-next"> <i
              class="fas fa-undo-alt"></i> Volver</a>
        
          <form class="cell medium-5 ms-auto" action="{% url 'producto_app:transformador-eliminar' object.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn bg-gradient-primary ms-auto mb-0 js-btn-next">Eliminar transformador</button>
          </form>
          
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}

{% endblock JSscripts %}
