{% extends "COMERCIAL/sales/base-quotes.html" %}

{% load static %}
{% block title %} Ventas {% endblock title %}
{% block main %} Ventas {% endblock main %}
{% block appName %} Cotizaciones {% endblock appName %}
{% block Type %} {% if object %}Editar{% else %}Crear{% endif %} - Item {% endblock Type %}

{% block panel-content %}

<div class="card">
    <div class="card-body">

        <h5 class=" mb-4"> 
            {% if object %}
                Editar Item {{ object.idTrafo }}-{{ object.seq }} de cotización {{object.idTrafoQuote}}
            {% else %}
                Agregar Transformador a cotización QUO-{{pk}}
            {% endif %}
        </h5>

        <form id="quoteForm" method="post">
        {% csrf_token %}

            <div id="trafoFormContainer">

                <!-- Campo oculto para idTrafoQuote -->
                <div class="row">
                    <div class="col-12" hidden>
                        <div class="input-group input-group-outline focused is-focused">
                            <label class="form-label">{{ form.idTrafoQuote.label }}</label>
                            {{ form.idTrafoQuote }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="input-group input-group-outline focused is-focused">
                            <label class="form-label">{{ form.idTrafo.label }}</label>
                            {{ form.idTrafo }}
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                        <div class="input-group input-group-outline focused is-focused">
                            <label class="form-label">{{ form.seq.label }}</label>
                            {{ form.seq }}
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                        <div class="input-group input-group-outline focused is-focused">
                            <label class="form-label">{{ form.unitCost.label }}</label>
                            {{ form.unitCost }}
                        </div>
                    </div>
                </div>

            </div>

        <button type="submit" id="addTrafoBtn" class="btn btn-primary mt-3 mb-0">
            {% if object %}Actualizar{% else %}Crear{% endif %} Item
        </button>

        {% if object %}
        <a href="{% url 'ventas_app:cotizacion-detalle' object.idTrafoQuote.id  %}" class="btn btn-secondary mt-3 mb-0">
            Cancelar
        </a>
        {% else%}
        <a href="{% url 'ventas_app:cotizacion-detalle' pk %}" class="btn btn-secondary mt-3 mb-0">
            Cancelar
        </a>
        {% endif %}

        </form>

    </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}

<script>
    // Establecer el valor de idTrafoQuote con el pk de la cotización (solo en creación)
    document.addEventListener('DOMContentLoaded', function() {
        const idTrafoQuoteField = document.getElementById("id_idTrafoQuote");
        if (idTrafoQuoteField && !{{ object|yesno:"true,false" }}) {
            idTrafoQuoteField.value = "{{pk}}";
        }
    });
</script>

{% endblock JSscripts %}