{% extends "base.html" %}

{% load static %}

{% block navbar_main %}Comercial{% endblock %}
{% block navbar_appName %}Cotizaciones de Clientes{% endblock %}
{% block navbar_Type %}detalle transformador{% endblock %}

{% block panel-content %}

<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            

            <div class="card">
                <div class="card-body">

                    <div class="d-block d-md-flex align-items-center mt-0">
                        <div class="me-auto align-items-center">
                            <h5 class="mb-0">Detalle de transformador</h5>
                        </div>
                        <span class="badge badge-lg badge-dot me-4 d-inline-block text-start">
                            <a href="{% url 'ventas_app:cotizacion-detalle' item.idTrafoQuote.id %}"
                                class="btn btn-outline-secondary me-2 text-dark mb-0 mt-lg-auto w-100">
                                Volver
                            </a>
                        </span>
                        <span class="badge badge-lg badge-dot me-4 d-inline-block text-start">
                            <a href="{% url 'ventas_app:editar-item' item.id %}" class="btn btn-primary mb-0 mt-lg-auto w-100">
                            Más Documentos
                            </a>
                        </span>
                        <span class="badge badge-lg badge-dot me-4 d-inline-block text-start">
                            <a class="btn bg-gradient-dark mb-0 mt-lg-auto w-100" href="{% url 'ventas_app:item_add_images' item.id %} ">Nueva imagen</a>
                        </span>
                        <span class="badge badge-lg badge-dot me-4 d-inline-block text-start">
                            <a class="btn bg-gradient-warning mb-0 mt-lg-auto w-100" href="{% url 'ventas_app:actualizar-estado-item' item.id %} ">NuevO EVENTO</a>
                        </span>
                    </div>

                    <div class="row">
                        <div class="col-xl-5 col-lg-6 text-center">
                            <div class="item-image">
                                {% if item.images.first %}
                                <img class="w-100 border-radius-lg shadow-lg mx-auto"
                                    src="{{ item.images.first.image.url }}" alt="{{ item.seq }}">
                                <span class="image-badge">
                                    {{ item.image_count }} / 5
                                </span>
                                {% else %}
                                <div class="no-image"> - </div>
                                {% endif %}
                            </div>

                            <div class="d-flex mt-4 pt-2 align-items-center" itemscope=""
                                itemtype="http://schema.org/ImageGallery" data-pswp-uid="1">

                                {% for img in item.images.all %}
                                <figure itemprop="associatedMedia" itemscope=""
                                    itemtype="{{ img.image.url }}">
                                    <a href="{{ img.image.url }}" itemprop="contentUrl" data-size="500x600">
                                        <img class="w-100 min-height-100 max-height-100 border-radius-lg shadow"
                                            src="{{ img.image.url }}" alt="Image description">
                                    </a>
                                </figure>
                                {% empty %}
                                <div class="h-100 text-center">
                                    <span class="badge badge-primary">NO IMAGES</span>
                                </div>
                                
                                {% endfor %}

                            </div>

                        </div>
                        <div class="col-lg-3 mx-auto">
                            
                            <div class="info-item mb-3">
                                <div class="info-item mb-3">
                                        <small class="text-muted">Tipo</small>
                                        <h5 class="fw-bold text-primary"> {{item.idTrafo}}</h5>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="info-item mb-3">
                                        <small class="text-muted">Número de Serie</small>
                                        <h5 class="fw-bold text-primary">{{ item.seq|default:"N/A" }}</h5>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="info-item mb-3">
                                        <small class="text-muted">Costo Unitario</small>
                                        <p class="fw-bold fs-5 text-info">{{ item.idTrafoQuote.get_currency_display }} {{ item.unitCost|floatformat:2|default:"0.00" }}</p>
                                    </div>
                                </div>
                            </div>

                            <h5>Documentos:</h5>
                            <div class="info-item mb-0">
                                <div class="info-item mb-2">
                                    {% if item.fat_file %}
                                    <a href="{{ item.fat_file.url }}" data-bs-toggle="tooltip" title="Download file">
                                        <span class="badge bg-gradient-success text-md">VIEW FAT FILE</span>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="info-item mb-0">
                                <div class="info-item mb-2">
                                    {% if item.idTrafo.drawing_file %}
                                    <a href="{{ item.idTrafo.drawing_file.url }}" data-bs-toggle="tooltip" title="Download file">
                                        <span class="badge bg-gradient-success text-md">VIEW DRAWING FILE</span>
                                    </a>
                                    {% endif %}
                            
                                </div>
                            </div>
                            <div class="info-item mb-0">
                                <div class="info-item mb-2">
                                    {% if item.plate_file %}
                                    <a href="{{ item.plate_file.url }}" data-bs-toggle="tooltip" title="Download file">
                                        <span class="badge bg-gradient-success text-md">VIEW PLATE FILE</span>
                                    </a>
                                    {% endif %}
                            
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 mx-auto">
                            <div class="card-body p-3">
                                <div class="timeline timeline-one-side">
                                    {% for i in item.itemTracking.all %}
                                    <div class="timeline-block mb-3">
                                        <span class="timeline-step">
                                            <i class="fas fa-calendar-plus text-dark"></i>
                                        </span>
                                        <div class="timeline-content">
                                            <h6 class="text-dark text-sm font-weight-bold mb-0">
                                                
                                                {% if i.statusItem == "4"%}
                                                <span class="badge bg-gradient-success"><i class="fas fa-cogs me-2"></i>{{i.get_statusItem_display|default:"-"}}</span>
                                                {% else %}
                                                <span class="badge bg-gradient-info"><i class="fas fa-cogs me-2"></i>{{i.get_statusItem_display|default:"-"}}</span>
                                                {% endif %}

                                                {% if i.statusPlate == "4"%}
                                                <span class="badge bg-gradient-success"><i class="fas fa-cogs me-2"></i>{{i.get_statusPlate_display|default:"-"}}</span>
                                                {% else %}
                                                <span class="badge bg-gradient-dark"><i class="fas fa-cogs me-2"></i>{{i.get_statusPlate_display|default:"-"}}</span>
                                                {% endif %}
                                                
                                            </h6>
                                            <p class="text-secondary font-weight-normal text-xs mt-1 mb-0">{{i.created}}</p>
                                        </div>
                                    </div>
                                    
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">

        <!-- Especificaciones Técnicas -->
        <div class="col-lg-6 col-md-6 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-header bg-gradient-secondary p-3">
                    <h5 class="card-title mb-0 text-white">
                        <i class="fas fa-cogs me-2"></i>Especificaciones Técnicas
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info-item mb-3">
                                <small class="text-muted">Capacidad kVA</small>
                                <p class="fw-bold text-dark">{{ item.idTrafo.get_KVA_display|default:"N/A" }}</p>
                            </div>
                            <div class="info-item mb-3">
                                <small class="text-muted">HV</small>
                                <p class="fw-bold text-dark">{{ item.idTrafo.get_HV_display|default:"N/A" }}</p>
                            </div>
                            <div class="info-item mb-3">
                                <small class="text-muted">LV</small>
                                <p class="fw-bold text-dark">{{ item.idTrafo.get_LV_display|default:"N/A" }}</p>
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                            <div class="info-item mb-3">
                                <small class="text-muted">HZ</small>
                                <p class="fw-bold text-dark">{{ item.idTrafo.get_HZ_display|default:"N/A" }}</p>
                            </div>
                            <div class="info-item mb-3">
                                <small class="text-muted">WINDING</small>
                                <p class="fw-bold text-dark">{{ item.idTrafo.get_WINDING_display|default:"N/A" }}</p>
                            </div>
                            <div class="info-item mb-3">
                                <small class="text-muted">CONNECTION</small>
                                <p class="fw-bold text-dark">{{ item.idTrafo.get_CONNECTION_display|default:"N/A" }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            
                            <div class="info-item mb-3">
                                <small class="text-muted">STANDARD</small>
                                <p class="fw-bold">{{ item.idTrafo.get_STANDARD_display|default:"N/A" }}</p>
                            </div>
                            <div class="info-item mb-3">
                                <small class="text-muted">Montaje</small>
                                <p class="fw-bold">{{ item.idTrafo.get_MOUNTING_display|default:"N/A" }}</p>
                            </div>
                            <div class="info-item mb-3">
                                <small class="text-muted">Enfriamiento</small>
                                <p class="fw-bold">{{ item.idTrafo.get_COOLING_display|default:"N/A" }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Información de la Cotización -->
        <div class="col-lg-6 col-md-6 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-header bg-gradient-secondary p-3">
                    <h5 class="card-title mb-0 text-white">
                        <i class="fas fa-file-invoice-dollar me-2"></i>Información de Cotización
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-item mb-3">
                                <small class="text-muted">Cotización Asociada</small>
                                <p class="fw-bold">
                                    <a href="{% url 'ventas_app:cotizacion-detalle' item.idTrafoQuote.id %}" 
                                    class="text-decoration-none">
                                        QUO-{{ item.idTrafoQuote.id }}
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-item">
                                <small class="text-muted">PO</small>
                                <p class="fw-bold">{{ item.idTrafoQuote.poNumber|default:"" }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-item">
                                <small class="text-muted">Fecha de Creación</small>
                                <p class="fw-bold">{{ item.created|date:"d/m/Y H:i" }}</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="info-item mb-3">
                                <small class="text-muted">Cliente</small>
                                {% if item.idTrafoQuote.idClient %}
                                <a href="{% url 'stakeholders_app:cliente-detalle' item.idTrafoQuote.idClient.id %}">
                                    <p class="fw-bold">{{ item.idTrafoQuote.idClient|default:"" }}</p>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="info-item mb-3">
                        <small class="text-muted">Descripción</small>
                        <p class="fw-bold">{{ item.idTrafoQuote.shortDescription|default:"Sin descripción" }}</p>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock panel-content %}

{% block JSscripts %}

{% endblock JSscripts %}