{% extends "COMERCIAL/sales/base-quotes.html" %}
{% load static %}

{% block title %} Ventas {% endblock title %}
{% block main %} Ventas {% endblock main %}
{% block appName %} Cotizaciones {% endblock appName %}
{% block Type %} Editar {% endblock Type %}

{% block panel-content %}

<div class="container">
    <div class="row">
        <!-- Columna izquierda - Formulario de edición -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white p-3">
                    <h6 class="card-title mb-0 text-center text text-white">
                        <i class="fas fa-edit me-2"></i>Editar Cotización QUO-{{ quote.id }}
                    </h6>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="form-check form-switch">
                            {{ form.isPO }}
                            <label class="form-check-label" for="{{ form.isPO.id_for_label }}">
                                {% if quote.isPO %}
                                <span class="badge badge-success">PO</span>
                                {% else %}
                                <span class="badge badge-primary">No PO</span>
                                {% endif %}
                            </label>
                        </div>

                        <!-- po -->
                        <div class="input-group input-group-outline my-3 is-focused">
                            <div class="form-label">{{ form.poNumber.label }}</div>
                            {{ form.poNumber }}
                        </div>

                        <!-- Cliente -->
                        <div class="input-group input-group-outline my-3 is-focused">
                            <div class="form-label">{{ form.idClient.label }}</div>
                            {{ form.idClient }}
                        </div>
                        
                        <!-- Empresas -->
                        <div class="input-group input-group-outline my-3 is-focused">
                            <div class="form-label">{{ form.idTinReceiving.label }}</div>
                            {{ form.idTinReceiving }}
                        </div>

                        <div class="input-group input-group-outline my-3 is-focused">
                            <div class="form-label">{{ form.idTinExecuting.label }}</div>
                            {{ form.idTinExecuting }}
                        </div>

                        <!-- Información financiera -->
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group input-group-outline my-3 is-focused">
                                    <div class="form-label">{{ form.currency.label }}</div>
                                    {{ form.currency }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group input-group-outline my-3 is-focused">
                                    <div class="form-label">{{ form.amount.label }}</div>
                                    {{ form.amount }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="input-group input-group-outline my-3 is-focused">
                            <div class="form-label">{{ form.payMethod.label }}</div>
                            {{ form.payMethod }}
                        </div>

                        <!-- Fechas -->

                        <div class="row">
                            <div class="col-6">
                                <div class="input-group input-group-outline my-3 is-focused">
                                    <div class="form-label">{{ form.dateOrder.label }}</div>
                                    {{ form.dateOrder }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group input-group-outline my-3 is-focused">
                                    <div class="form-label">{{ form.deadline.label }}</div>
                                    {{ form.deadline }}
                                </div>
                            </div>
                        </div>

                        <div class="input-group input-group-outline my-3 is-focused">
                            <div class="form-label">{{ form.shortDescription.label }}</div>
                            {{ form.shortDescription }}
                        </div>

                        <div class="d-flex justify-content-between mt-4">
                            <a href="{% url 'ventas_app:cotizaciones-lista' %}" class="btn bg-gradient-secondary">
                                <i class="fas fa-times me-2"></i>Cancelar
                            </a>
                            <button type="submit" class="btn bg-gradient-success">
                                <i class="fas fa-save me-2"></i>Guardar Cambios
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Columna derecha - Lista de transformadores -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white d-flex justify-content-between p-3 pb-0">
                    <h6 class="card-title text-white mb-0">Lista de Transformadores</h6>
                    <a class="btn btn-success btn-sm" href="{% url 'ventas_app:crear-item' quote.id %}">
                        <i class="fas fa-plus me-1"></i> Añadir Item
                    </a>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th class="text-end">Serial</th>
                                    <th class="text-end">KVA</th>
                                    <th class="text-end">Costo Unitario</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for trafo in trafos %}
                                <tr>
                                    <td class="text-end">{{ trafo }}</td>
                                    <td class="text-end">{{ trafo.idTrafo.get_KVA_display }}</td>
                                    <td class="text-end">{{ trafo.unitCost|floatformat:2 }}</td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            
                                            <a href="{% url 'ventas_app:editar-item' trafo.id %}" title="Editar">
                                                <i class="far fa-edit text-dark text-lg"></i>
                                            </a>
                                            &ensp;
                                            <a href="{% url 'ventas_app:eliminar-item' trafo.id %}" title="Eliminar">
                                                <i class="far fa-trash-alt text-primary text-lg"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="7" class="text-center text-muted py-3">
                                        <i class="fas fa-box-open fa-2x mb-2 d-block"></i>
                                        No hay transformadores en esta cotización
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}
{% endblock JSscripts %}