{% extends "COMERCIAL/purchase/base-COMERCIAL.html" %}

{% load  static %}
{% block title %} Requerimientos {% endblock title %}
{% block main %} Requerimientos {% endblock main %}
{% block appName %} Requerimientos {% endblock appName %}
{% block Type %} Nuevo {% endblock Type %}

{% block panel-content %}

<div class="container-fluid py-2">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card mb-4">
                <div class="card-header p-3 pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="w-50">
                            <h6>Aprobar/denegar requerimiento</h6>
                            <p class="text-sm mb-0">
                                Id: <b>{{pk}}</b>
                            </p>
                            <p class="text-sm mb-0">
                                Solicitado: <b>{{pk.created}}</b>
                            </p>
                            <p class="text-sm mb-0">
                                Solicitante: <b>{{pk.idPetitioner}}</b>
                            </p>
                            <p class="text-sm">
                                Monto total: <b>{{pk.get_currency_display}} {{pk.totalPrice}}</b>
                            </p>
                        </div>
                        <div class="text-end">
                            <form method="post">
                                {% csrf_token %}
                                <div class="input-group input-group-outline is-focused" hidden>
                                    <label for="exampleFormControlInput1" class="form-label">Requerimiento</label>
                                    {{ form.idRequirement }}
                                </div>
                                <div class="input-group input-group-outline is-focused" hidden>
                                    <label for="exampleFormControlInput1" class="form-label">Area</label>
                                    {{ form.area }}
                                </div>
                                <div class="input-group input-group-outline is-focused">
                                    <label for="exampleFormControlInput1" class="form-label">Estado</label>
                                    {{ form.status }}
                                </div>
                                <br>
                                <button type="submit" class="btn  bg-gradient-success ms-auto mb-0">Actualizar seguimiento</button>
                            </form>

                        </div>
                        
                    </div>
                </div>
                <div class="card-body p-3 pt-0">
                    <hr class="horizontal dark mt-0 mb-4">
                    <h6>Items de requerimiento</h6>
                    <div class="table-responsive p-0">
                        <table class="table table-flush mb-0 align-items-center" id="datatable-move">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-uppercase text-secondary text-xs text-start font-weight-bolder opacity-7 ps-2">Producto o servicio
                                    </th>
                                    <th class="text-uppercase text-secondary text-xs text-end font-weight-bolder opacity-7 ps-2">Cantidad</th>
                                    <th class="text-uppercase text-secondary text-xs text-end font-weight-bolder opacity-7 ps-2">Costo</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for t in pk.requirementItems_requirement.all %}
                                <tr>
                                    <td class="text-sm">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{ t.product }}</h6>
                                        </div>
                                    </td>
                    
                                    <td class="text-sm text-end">
                                        <div class="d-flex flex-column justify-content-center">
                                            <a href="{% url 'compras_app:detail_requirement' t.id %}">
                                                <h6 class="mb-0 text-sm">{{t.quantity}} </h6>
                                            </a>
                                        </div>
                                    </td>
                    
                                    <td class="text-sm text-end">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="text-sm font-weight-normal text-secondary mb-0">{{t.price }}</p>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock panel-content %}
{% block JSscripts %}
<script>
    document.getElementById("id_idRequirement").value = "{{pk.id}}";
    document.getElementById("id_area").value = "{{user.position}}";
</script>

{% endblock JSscripts %}