{% extends "base.html" %}

{% load static %}

{% block navbar_main %}Finanzas{% endblock %}
{% block navbar_appName %}Reporte{% endblock %}
{% block navbar_Type %}Cuentas{% endblock %}

{% block panel-content %}
<div class="row pt-2">
  <div class="col-lg-6 col-md-3">
    <h5 class="mb-0">{{cuenta.datos.Cuenta}} {{cuenta.datos.Cuenta.accountName}}</h5>
    <p class="text-md mb-0 font-weight-bolder text-secondary">
      Saldo actual: {{cuenta.datos.Cuenta.get_currency_display}} {{cuenta.array.first.balance|floatformat:"2g"}}
    </p>
  </div>
  <div class="col-lg-6 col-md-9">
    <form method="GET" class="">{% csrf_token %}
      <div class="d-flex align-items-center">
        <div class="input-group input-group-outline">
          <input class="form-control datetimepicker text-center text-dark" value="{{object_list.intervalDate}}"
            placeholder="today" id="dateKword" name="dateKword">
        </div>
        &emsp; 
        <div class="pt-3 pb-0">
          <button class="btn bg-gradient-secondary" type="submit"> Buscar </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <!-- RESUMEN -->
  <div class="col-lg-3 col-md-4">
    <div class="card">
      <div class="card-header p-3 pb-0">
        <h6 class="mb-0">Resumen de cuenta</h6>
        <p class="text-sm mb-0 text-capitalize font-weight-normal">De cuenta</p>
      </div>
      <div class="card-body border-radius-lg p-3">

        <div class="row d-flex">
          <div class="col-4">
            <div class="icon icon-shape bg-gradient-info icon-md text-center border-radius-md shadow-none">
              <i class="fas fa-arrow-up opacity-10"></i>
            </div>
          </div>
          <div class="col-8 text-end">
            <div class="numbers">
              <h5 class="mb-0 text-dark font-weight-bold">{{cuenta.datos.Cuenta.get_currency_display}} {{cuenta.resumen.ingresos|floatformat:"2g"}}</h5>
              <span class="mt-0 text-sm">Ingresos</span>
            </div>
          </div>
        </div>

        <div class="row d-flex mt-4">
          <div class="col-4">
            <div class="icon icon-shape bg-gradient-info icon-md text-center border-radius-md shadow-none">
              <i class="fas fa-arrow-down opacity-10"></i>
            </div>
          </div>
          <div class="col-8 text-end">
            <div class="numbers">
              <h5 class="mb-0 text-dark font-weight-bold h-100 text-end">{{cuenta.datos.Cuenta.get_currency_display}} {{cuenta.resumen.egresos|floatformat:"2g"}}</h5>
              <span class="text-sm">Egresos</span>
            </div>
          </div>
        </div>

        <div class="row d-flex mt-4">
          <div  class="col-4">

            {% if cuenta.resumen.balance > 0%}
            <div class="icon icon-shape bg-gradient-success icon-md text-center border-radius-md shadow-none">
              <i class="fas fa-balance-scale-right opacity-10"></i>
            </div>
            {% else %}
            <div class="icon icon-shape bg-gradient-primary icon-md text-center border-radius-md shadow-none">
              <i class="fas fa-balance-scale-left opacity-10"></i>
            </div>
            {% endif %}
          </div>
          <div class="col-8 text-end">
            <div class="numbers">
              <h5 class="mb-0 text-dark">{{cuenta.datos.Cuenta.get_currency_display}} {{cuenta.resumen.balance|floatformat:"2g"}} </h5>
              <span class="text-sm">Balance</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- PLOT SALDOS -->
  <div class="col-lg-9 col-md-8 mt-md-0 mt-4">
    <div class="card overflow-hidden h-100">
  
      <div class="card-body mt-3 p-0">
        <div class="chart bg-gradient-white ">
          <div ui-jp="plot" id="AllPlots" style="height: 300px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ================ RESUMEN ================= -->

<div class="row mt-2">
  <div class="col-lg-6 col-12">
    <div class="card z-index-2 mt-4">
      <div class="card-header p-3 pt-2">
        <div
          class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 me-3 float-start">
          <i class="material-icons opacity-10">leaderboard</i>
        </div>
        <h6 class="mb-0">Conciliación en montos</h6>
        <p class="mb-0 text-sm">Incluye ingresos y egresos</p>
      </div>
      <div class="card-body p-3">
        <div class="row">
          
          <div class="col-lg-6 col-12 text-center">
            <div class="chart bg-gradient-white ">
              <div ui-jp="plot" id="pie1" style="height: 200px;"></div>
            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="table-responsive">
              <table class="table align-items-center mb-0">
                <tbody>

                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm ms-0 text-success">Conciliado</h6>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-end text-sm">
                      <span class="text-sm font-weight-bold"> {{cuenta.datos.Cuenta.get_currency_display}} {{cuenta.conciliacion.sumConciliation|floatformat:"2g"}} </span>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm ms-0 text-primary">Pendiente</h6>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-end text-sm">
                      <span class="text-sm font-weight-bold"> {{cuenta.datos.Cuenta.get_currency_display}} {{cuenta.conciliacion.sumPending|floatformat:"2g"}} </span>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 mt-md-0 mt-4">
    <div class="card z-index-2 mt-4">
      <div class="card-header p-3 pt-2">
        <div
          class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 me-3 float-start">
          <i class="fas fa-list-ol opacity-10"></i>
        </div>
        <h6 class="mb-0">Conciliación en cantidad</h6>
        <p class="mb-0 text-sm">Número de movimientos</p>
      </div>
      <div class="card-body p-3">
        <div class="row">
          
          <div class="col-lg-6 col-12 text-center">
            <div class="chart bg-gradient-white ">
              <div ui-jp="plot" id="pie2" style="height: 200px;"></div>
            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="table-responsive">
              <table class="table align-items-center mb-0">
                <tbody>

                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm ms-0 text-success">Conciliado</h6>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-end text-sm">
                      <span class="text-sm font-weight-bold"> {{cuenta.conciliacion.countConciliation}} </span>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm ms-0 text-primary">Pendiente</h6>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-end text-sm">
                      <span class="text-sm font-weight-bold"> {{cuenta.conciliacion.countPending}} </span>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-4">
  <div class="card">

    <div class="pt-2 pb-0 ps-2">
      <a class="export btn btn-icon btn-outline-secondary" data-type="csv" type="button">
        Export CSV
      </a>
    </div>
    
    <div class="card-body pt-0 px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table table-flush mb-0 align-items-center" id="datatable-move">
            <thead class="thead-light">
              <tr>
                <th class="text-uppercase text-secondary text-xs text-center font-weight-bolder opacity-7 ps-2">Fecha
                </th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">EEC, Razón social EEC, Para qué</th>
                <th class="text-uppercase text-info text-xs font-weight-bolder opacity-7 ps-2">Días</th>
                <th class="text-uppercase text-info text-xs font-weight-bolder opacity-7 ps-2">Monto, Avance</th>
                <th class="text-uppercase text-info text-xs font-weight-bolder opacity-7 ps-2">

                  Monto &nbsp;&nbsp;&nbsp;&nbsp;

                  Id &nbsp;&nbsp;&nbsp;&nbsp;

                  Detalle


                </th>
                <th class="text-uppercase text-dark text-xs font-weight-bolder opacity-7 ps-2">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for t in cuenta.bankMovements %}
              <tr>
                <td class="text-sm">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm"> <a href="{% url 'movimientosBancarios_app:movimientos-detalle' t.id %}">
                      {{ t.date|date:'d-m-Y' }}</a></h6>
                    <p class="text-sm font-weight-normal text-secondary mb-0">nOp {{t.opNumber}} {{t.days_since_date}}</p>
                  </div>
                </td>
                <td class="text-sm">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-xs text-secondary"> <a
                        href="{% url 'movimientosBancarios_app:movimientos-detalle' t.id %}">{{t.description}} <span class=" text-dark"> -> {{t.originDestination.tradeName}} </span></a> </h6>
                    <p class="text-sm font-weight-normal text-secondary mb-0">
                      <a
                        href="{% url 'movimientosBancarios_app:movimientos-detalle' t.id %}"> {{t.justification}}
                      </a>
                      <a
                        href="{% url 'movimientosBancarios_app:movimientos-detalle' t.id %}">
                        {% if t.expenseSubCategory %}
                        <span class="text-primary"> {{t.expenseSubCategory}}</span>
                        {% endif %}
                        {% if t.incomeSubCategory %}
                        <span class="text-success"> {{t.incomeSubCategory}} </span>
                        {% endif %}
                      </a>
                    </p>
                  </div>
                </td>
                <td class="text-sm text-end">
                  {% if t.per == 100 %}
                  <span class="badge bg-gradient-success">0K</span>
                  {% else %}
                  {% if t.days_since_date > 30 %}
                  <span class="badge bg-gradient-primary">{{t.days_since_date}}</span>
                  {% elif t.days_since_date <= 30 and t.days_since_date > 7 %}
                  <span class="badge bg-gradient-warning">{{t.days_since_date}}</span>
                  {% else %}
                  <span class="badge bg-gradient-secondary">{{t.days_since_date}}</span>
                  {% endif %}
                  {% endif %}
                </td>
                <td class="text-sm">
                  <div class="w-100">
                    <div class="d-flex align-items-center mb-0">
                      <span class="me-2 text-sm font-weight-bold text-dark">{{ t.per|floatformat:0 }} %</span>
                      <span class="ms-auto text-sm font-weight-normal">{{ t.amountReconcilied|floatformat:"2g" }}</span>
                    </div>
                    <div>
                      <div class="progress progress-md w-100">
                        <div class="progress-bar bg-dark" role="progressbar" style="width: {{ t.per|floatformat:0 }}%;">
                        </div>
                      </div>
                    </div>
                    {% if t.transactionType == "1" %}
                    <span class="me-2 text-md font-weight-bold text-success">+{{ t.amount|floatformat:"2g" }}</span>
                    {% else %}
                    <span class="me-2 text-md font-weight-bold text-primary">-{{ t.amount|floatformat:"2g" }}</span>
                    {% endif %}

                </td>

                <td class="text-sm">
                  <div class="d-flex flex-column justify-content-center text-start">

                    {% for i in t.mov_origen.all %}

                    {% if i.type == "0" %}

                    <p class="text-sm font-weight-normal text-info mb-0">
                      {{i.amountReconcilied}} &nbsp;&nbsp;&nbsp;&nbsp; 

                      {% if i.idDoc.pdf_file %}
                      <a href="/media/{{i.idDoc.pdf_file}}">
                        <i class="far fa-file-pdf text-success text-lg"></i>
                      </a>
                      {% else %}
                      <i class="far fa-file-pdf text-light text-lg"></i>
                      {% endif %}

                      &nbsp;&nbsp;&nbsp;&nbsp; 
                      <a href="{% url 'documentos_app:documento-financiero-detalle' i.idDoc.id %}">
                        <u>{{i.idDoc.idInvoice}}</u> 
                      </a>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      {{i.idDoc.idClient}}
                    </p>
                    {% else %}

                    <p class="text-sm font-weight-normal text-dark mb-0">
                      {{i.amountReconcilied}} &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="{% url 'movimientosBancarios_app:movimientos-detalle' i.idMovArrival.id %}">
                        <u>{{i.idMovArrival.idAccount}}</u> 
                      </a>
                      &nbsp;&nbsp;&nbsp;&nbsp; {{i.idMovArrival.opNumber}} - {{i.idMovArrival.description}}
                    </p>
                    {% endif %}
                    {% endfor %}
                  </div>
                </td>

                <td>
                  <a href="javascript:;" class="text-secondary" id="dropdownMarketingCard" data-bs-toggle="dropdown"
                    data-bs-placement="left" aria-expanded="false">
                    <i class="fas fa-bars text-lg text-dark"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-lg-start bg-gradient-light"
                    aria-labelledby="dropdownMarketingCard" style="">
                    <li><a class="dropdown-item border-radius-md font-weight-bold text-dark"
                        href="{% url 'movimientosBancarios_app:movimientos-detalle' t.id %}">Ver detalle</a></li>
                    <li><a class="dropdown-item border-radius-md font-weight-bold text-dark"
                        href="{% url 'movimientosBancarios_app:movimientos-editar' t.id %}"> Editar movimiento</a></li>
                    <li><a class="dropdown-item border-radius-md font-weight-bold text-dark"
                        href="{% url 'movimientosBancarios_app:conciliar-movimiento-con-documento' t.id %}"> Conciliacion
                        documentaria</a></li>
                    <li><a class="dropdown-item border-radius-md font-weight-bold text-dark"
                        href="{% url 'movimientosBancarios_app:conciliar-movimiento-con-movimiento' t.id %}"> Conciliacion
                        bancaria</a></li>
                    <li><a class="dropdown-item border-radius-md font-weight-bold text-primary"
                        href="{% url 'movimientosBancarios_app:movimientos-eliminar' t.id %}">Eliminar movimiento</a></li>
                  </ul>
                </td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}

<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>
    if (document.querySelector('.datetimepicker')) {
        flatpickr('.datetimepicker', {
            allowInput: true,
            mode: "range"
        }); // flatpickr
    }
</script>

<script>
  let ingresos = Number("{{cuenta.ingresos.total}}");
  let egresos = Number("{{cuenta.egresos.total}}");
  let dif = ingresos - egresos;
  $("#diff").html(dif.toFixed(2));
</script>

<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>
  /* PROYECTOS */
  const dataTableclientes= new simpleDatatables.DataTable("#datatable-move", {
    searchable: true,
    fixedHeight: false,
    perPage: 5
  });

  document.querySelectorAll(".export").forEach(function (el) {
    el.addEventListener("click", function (e) {
      var type = el.dataset.type;

      var data = {
        type: type,
        filename: "movimientos",
      };

      if (type === "csv") {
        data.columnDelimiter = ",";
      }

      dataTableclientes.export(data);
    });
  });

</script>

<script src="{% static 'assets/js/plugins/plotly-2.12.1.min.js' %}"></script>
<script>
  let balance = [];
  let dt = [];
  '{% for value in cuenta.array %}'
    balance.push("{{value.balance}}");
    var ddt = new Date("{{value.date|date:'m-d-y'}}");
    dt.push(ddt);
  '{% endfor %}'

  var layout = {
    margin: { l: 40, t: 0, b: 35, r: 30 },
    autosize: true,

    xaxis: {
      autorange: true,
      showgrid: true,
      zeroline: true,
      rangeselector: {
        buttons: [
          {
            count: 1,
            label: '1w',
            step: 'week',
            stepmode: 'backward'
          },
          {
            count: 1,
            label: '1m',
            step: 'month',
            stepmode: 'backward'
          },
          { step: 'all' }
        ]
      },
      //range: ['2020-01-01', '2020-01-31'],

      type: 'date'
    },
    yaxis: {
      autorange: true,
      showgrid: true,
      zeroline: true,
      //range: [0, 30],
      type: 'linear'
    },
    legend: {
      x: 1,
      y: 0.5,
      traceorder: 'normal',
      font: {
        family: 'sans-serif',
        size: 12,
        //color: '#254'
      },
      //bgcolor: '#E2E2E2',
      //bordercolor: '#FFFFFF',
      //borderwidth: 2
    }
  }

  var trace0 = {
    x: dt,
    y: balance,
    type: 'scatter',
    mode: "markers",
    name: 'Amount',
    line: {
      shape: 'spline',
      color: '#7b809a',
    },
    marker: {
      color: 'rgb(219, 64, 82)',
      size: 10
    }
    //visible: 'legendonly'
  };

  var config = {
    modeBarButtonsToRemove: ['pan2d', 'select2d', 'lasso2d', 'resetScale2d', 'zoomOut2d'],
    responsive: true,
    displaylogo: false
  }


  var data = [trace0];

  Plotly.newPlot('AllPlots', data, layout, config);
</script>

<script>
  let conciliation = [
    "{{cuenta.conciliacion.sumConciliation}}",
    "{{cuenta.conciliacion.sumPending}}"
  ];

  let data1 = [{
    values: conciliation,
    labels: ['Conciliado','Pendiente'],
    type: 'pie',
    marker: {
      colors: ["#4caf50","#e91e63"]
    },
  }];

  var layout = {
      height: 200,
      margin: { "t": 0, "b": 0, "l": 0, "r": 0 },
      showlegend: false
    }

  Plotly.newPlot('pie1', data1, layout, config);

  let cantidad = [
    "{{cuenta.conciliacion.countConciliation}}",
    "{{cuenta.conciliacion.countPending}}"
  ];

  let data2 = [{
    values: cantidad,
    labels: ['Conciliado','Pendiente'],
    type: 'pie',
    marker: {
      colors: ["#4caf50","#e91e63"]
    },
  }];

  Plotly.newPlot('pie2', data2, layout, config);
</script>

{% endblock JSscripts %}