{% extends "LOGISTICA/transport/base-transporte.html" %}

{% load static %}
{% block title %} Catálogo {% endblock title %}
{% block main %} Catálogo {% endblock main %}
{% block appName %} Transformadores {% endblock appName %}
{% block Type %} Eliminar {% endblock Type %}

{% block panel-content %}

<div class="card">
    <div class="card-header mb-0">
        <div class="card-title">
            <h4 class="card-label text-dark">Eliminar Transformador</h4>
        </div>
    </div>
    
    <div class="card-body pt-0">
        <div class="alert alert-light">
            <h4 class="alert-heading">¡Advertencia!</h4>
            <p>¿Está seguro que desea eliminar el siguiente transformador?</p>
            <hr>
            <p class="mb-0">
                <strong>Transformador {{ object }}</strong><br>
                {{ object.get_KVA_display }} - {{ object.get_TYPE_display }} - {{ object.get_MOUNTING_display }}
            </p>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-end">
                <a href="{% url 'produccion_app:trafos-lista' %}" class="btn bg-gradient-secondary me-3">Cancelar</a>
                <button type="submit" class="btn bg-gradient-primary me-3">
                    <i class="fas fa-trash"></i> Confirmar Eliminación
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}

{% endblock JSscripts %}