{% extends "base.html" %}

{% load static %}

{% block navbar_main %}Catálogo{% endblock %}
{% block navbar_appName %}Transformadores{% endblock %}
{% block navbar_Type %}{% if object %}Editar{% else %}Registrar{% endif %} {% endblock %}

{% block panel-content %}

<div class="container-fluid">
    <div class="card">
        <div class="card-header pb-0">
            <div class="card-title">
                <h4 class="card-label">
                    {% if object %}Editar{% else %}Crear{% endif %} transformador en catálogo
                </h4>
            </div>
        </div>
        
        <div class="card-body pt-0">
            <form method="post" novalidate>
                {% csrf_token %}
                
                <div class="row mb-0">
                    <div class="col-md-6">
                        <p class="mb-0"> Proveedor </p>
                        <div class="input-group input-group-outline">
                            {{ form.idSupplier }}
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="input-group input-group-outline my-3 is-focused">
                            <label class="form-label required">{{ form.KVA.label }}</label>
                            {{ form.KVA }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-outline my-3 is-focused">
                            <label class="form-label required">{{ form.PHASE.label }}</label>
                            {{ form.PHASE }}
                        </div>
                    </div>
                </div>

                <div class="row mb-0">
                    <div class="col-md-3">
                        <div class="input-group input-group-outline my-3 is-focused">
                            <label class="form-label">{{ form.HV.label }}</label>
                            {{ form.HV }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-outline my-3 is-focused">
                            <label class="form-label">{{ form.LV.label }}</label>
                            {{ form.LV }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-outline my-3 is-focused">
                            <label class="form-label">{{ form.COOLING.label }}</label>
                            {{ form.COOLING }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-outline my-3 is-focused">
                            <label class="form-label">{{ form.MOUNTING.label }}</label>
                            {{ form.MOUNTING }}
                        </div>
                    </div>
                </div>

                <div class="row mb-0">
                    <div class="col-md-3">
                        <div class="input-group input-group-outline my-3 is-focused">
                            <label class="form-label">{{ form.DERIVATIONS.label }}</label>
                            {{ form.DERIVATIONS }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-outline my-3 is-focused">
                            <label class="form-label">{{ form.CONNECTION.label }}</label>
                            {{ form.CONNECTION }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-outline my-3 is-focused">
                            <label class="form-label">{{ form.WINDING.label }}</label>
                            {{ form.WINDING }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-outline my-3 is-focused">
                            <label class="form-label">{{ form.STANDARD.label }}</label>
                            {{ form.STANDARD }}
                        </div>
                    </div>
                </div>

                <div class="row mb-0">
                    <div class="col-md-3">
                        <div class="input-group input-group-outline my-3 is-focused">
                            <label class="form-label">{{ form.HZ.label }}</label>
                            {{ form.HZ }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-outline my-3 is-focused">
                            <label class="form-label">{{ form.KTAPSVALUES.label }}</label>
                            {{ form.KTAPSVALUES }}
                        </div>
                    </div>
                </div>


                <div class="d-flex justify-content-end">
                    <a href="{% url 'produccion_app:trafos-lista' %}" class="btn bg-gradient-secondary me-3">Cancelar</a>
                    <button type="submit" class="btn bg-gradient-primary me-3">
                        {% if object %}Actualizar{% else %}Crear{% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}

<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script type="text/javascript">
  if (document.getElementById('id_idSupplier')) {
    var element = document.getElementById('id_idSupplier');
    const example = new Choices(element, {});
  }
</script>
{% endblock JSscripts %}