{% extends "movimientos/base-movimientos.html" %}

{% load  static %}
{% block title %} Movimientos {% endblock title %}
{% block main %} Movimientos {% endblock main %}
{% block appName %} Conciliar {% endblock appName %}
{% block Type %} Movimiento con Documento {% endblock Type %}

{% block panel-content %}

{{object}}
<div class="row">
  <div class="col-lg-10 col-12 mx-auto position-relative">
    <div class="card">
      <div class="card-header p-3 pt-2 pb-0">
        <div class="icon icon-lg icon-shape bg-gradient-secondary shadow text-center border-radius-xl mt-n4 float-start">
          <i class="fas fa-file-invoice opacity-10"></i>
        </div>
        <div class="row">
          <div class="col-md-8 col-8">
            <p class="mb-0 pb-0">{{mov.idAccount}} / {{mov.idAccount.accountName}}</p>
            <h6 class="mt-sm-0 pt-0 "> {{mov.date|date:"Y-m-d"}} | nOp: {{mov.opNumber}} | {{mov.description}} </h6>
          </div>
          <div class="col-md-4 col4 text-end justify-content-end align-items-center align-middle">
            <small>{{mov.idAccount.get_currency_display}} {{mov.amount|floatformat:"2g"}}</small>
            <p class="mt-sm-0 pt-0 text-dark font-weight-bold"> Monto conciliado: {{sum.sum|floatformat:"2g"}}</p>
          </div>
        </div>
      </div>

      <div class="card-body pt-0 pb-0">
        <form class="" method="POST" enctype="multipart/form-data" novalidate>{% csrf_token %}

          <div class=" border-radius-xl bg-white" data-animation="FadeIn">

            <div class="multisteps-form__content">

              <div class="row" hidden>
                
                <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">mov</label>
                    {{ form.idMovOrigin }}
                  </div>
                </div>

                <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">tipo</label>
                    {{ form.type }}
                  </div>
                </div>

                <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                  <div class="form-check">
                    <label for="exampleFormControlInput1" class="form-label">status</label>
                    {{ form.status }}
                  </div>
                </div>

              </div>

              <h6 class="font-weight-bolder">Seleccionar documento</h6>

              <div class="row">
                <div class="col-12 col-sm-12">
                  <div class="input-group input-group-outline">
                    {{ form.idDoc }}
                  </div>
                  {% for error in form.idDoc.errors %}
                  <p class="text-xs text-primary font-weight-bolder mb-0">
                    {{ error|escape }}
                  </p>
                  {% endfor %}
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-6 col-sm-6">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Monto a conciliar </label>
                    {{ form.amountReconcilied }}
                  </div>
                  {% for error in form.amountReconcilied.errors %}
                  <p class="text-xs text-primary font-weight-bolder mb-0">
                    {{ error|escape }}
                  </p>
                  {% endfor %}
                </div>

                <div class="col-6 col-sm-3">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Tipo de cambio </label>
                    {{ form.exchangeRate }}
                  </div>
                  <p class="text-sm">1: si son de la misma moneda</p>
                  {% for error in form.exchangeRate.errors %}
                  <p class="text-xs text-primary font-weight-bolder mb-0">
                    {{ error|escape }}
                  </p>
                  {% endfor %}
                </div>
                
              </div>

              <br>

              <div class="button-row d-flex mt-4">
                <a class="btn bg-gradient-dark" href="{% url 'movimientosBancarios_app:lista-movimientos' %}"> REGRESAR </a>

                <button class="btn bg-gradient-success ms-auto js-btn-next" type="submit" title="Next">AGREGAR CONCILIACION</button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}

<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>
    if (document.querySelector('.datetimepicker')) {
        flatpickr('.datetimepicker', {
            allowInput: true,
            maxDate: "today"
            //mode: "range"
        }); // flatpickr
    }
</script>

<script>
  document.getElementById("id_idMovOrigin").value = "{{mov.id}}";
  document.getElementById("id_type").value = 0;
  document.getElementById("id_status").value = "true";
</script>

<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script type="text/javascript">
  if (document.getElementById('id_idDoc')) {
    var element = document.getElementById('id_idDoc');
    const example = new Choices(element, {});
  }
</script>

{% endblock JSscripts %}