{% extends "movimientos/base-movimientos.html" %}

{% load  static %}
{% block title %} Documentación {% endblock title %}
{% block main %} Movimientos {% endblock main %}
{% block appName %} Documentacion {% endblock appName %}
{% block Type %} Lista {% endblock Type %}

{% block panel-content %}

<div class="row">
  <div class="col-md-12 col-lg-10 col-sm-10 mx-auto">
      <div class="card my-sm-5">
        <div class="card-header text-center">
          <div class="row justify-content-between">
            <div class="col-md-4 text-start">
              <img class="mb-2 w-25 p-2" src="{% static 'assets/img/money-transfer.png' %}" alt="Logo">
              <h6>
                {{mov.id.idAccount.accountName}}
              </h6>
              <p class="d-block text-dark">{{mov.id.idAccount}} </p>
            </div>
            <div class="col-lg-3 col-md-7 text-md-end text-start mt-5">
              <h6 class="d-block mt-2 mb-0">
                {% if mov.id.transactionType == "0" %}
                <span class="text-primary">{{mov.id.idAccount.get_currency_display }} {{mov.id.amount|floatformat:"2g"}}</span>
                {% else %}
                <span class="text-success">{{mov.id.idAccount.get_currency_display }} {{mov.id.amount|floatformat:"2g"}}</span>
                {% endif %}
              </h6>
              <p class="text-dark">{{mov.id.description}}<br>
                {{mov.id.date}}<br>
                nOp: {{mov.id.opNumber}}
              </p>
            </div>
          </div>
          <br>
          <div class="row justify-content-md-between">
            <div class="col-md-4 mt-auto">
              <h6 class="mb-0 text-start text-secondary font-weight-normal">
                Porcentaje conciliado
              </h6>
              <h5 class="text-start mb-0">
                <span id="per">--</span> %
              </h5>
            </div>
            <div class="col-lg-5 col-md-7 mt-auto">
              <div class="row mt-md-5 mt-4 text-md-end text-start">
                <div class="col-md-6">
                  <h6 class="text-secondary font-weight-normal mb-0">M. conciliado:</h6>
                </div>
                <div class="col-md-6">
                  <h6 class="text-dark mb-0">{{mov.id.idAccount.get_currency_display }} {{mov.sum.tot|floatformat:"2g"}}</h6>
                </div>
              </div>
              <div class="row text-md-end text-start">
                <div class="col-md-6">
                  <h6 class="text-secondary font-weight-normal mb-0">Pendiente:</h6>
                </div>
                <div class="col-md-6">
                  <h6 class="text-dark mb-0"> {{mov.id.idAccount.get_currency_display }} <span id="diff"> -- </span> </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body pb-0">
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table text-right">
                  <thead>
                    <tr>
                      <th scope="col" class="pe-2 text-start ps-2">Id Doc.</th>
                      <th scope="col" class="pe-2 text-start ps-2">Fecha</th>
                      <th scope="col" class="pe-2">Cliente / Descripción</th>
                      <th scope="col" class="pe-2 text-end">Monto</th>
                      <th scope="col" class="pe-2 text-end">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in mov.doc %}
                    <tr class="">
                      <td class="text-start align-middle text-sm">{{ i.idInvoice }}</td>
                      <td class="text-start align-middle text-sm">{{ i.date|date:"d-m-Y" }}</td>
                      <td class="ps-4 align-middle">
                        <div class="text-start align-middle">
                          <p class="text-xs font-weight-bold mb-0 ">{{i.idClient}}</p>
                          <h6 class="text-sm font-weight-normal mb-0">{{i.description}}</h6>
                        </div>
                      </td>
                      <td class="ps-4 align-middle text-end text-sm text-dark">{{ i.amountReconcilied|floatformat:"2g"}}</td>
                      <td class="text-center align-middle">
                        {% if i.pdf_file %}
                        <a href="/media/{{i.pdf_file}}">
                          <i class="far fa-file-pdf text-info text-lg"></i>
                        </a>
                        {% else %}
                        --
                        {% endif %}
                        &nbsp;
                        <a href="{% url 'movimientos_app:movimientos-conciliar-editar' i.id %}">
                          <i class="far fa-edit text-dark text-lg"></i>
                        </a>
                        &nbsp;
                        <a href="{% url 'movimientos_app:movimientos-conciliacion-eliminar' i.id %}">
                          <i class="far fa-trash-alt text-primary text-lg"></i>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th></th>
                      <th class="h6 ps-4">Total</th>
                      <th class="h6 ps-4 text-end">{{mov.sum.tot|floatformat:"2g"}}</th>
                      <th></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <a class="btn bg-gradient-secondary" href="{% url 'movimientos_app:movimientos-conciliar' mov.id.id %}">Agregar conciliación</a>
        </div>
        
      </div>
    
  </div>
</div>


{% endblock panel-content %}

{% block JSscripts %}
<script>
  var dif = document.getElementById("diff");
  var nDiff = Number("{{mov.id.amount}}") - Number("{{mov.sum.tot}}");
  dif.innerHTML =  nDiff.toFixed(2);

  var per = document.getElementById("per");
  var nper = Number("{{mov.sum.tot}}")*100/Number("{{mov.id.amount}}");
  per.innerHTML =  nper.toFixed(2);

</script>


{% endblock JSscripts %}