{% extends "movimientos/base-movimientos.html" %}

{% load  static %}
{% block title %} Movimientos {% endblock title %}
{% block main %} Movimientos {% endblock main %}
{% block appName %} Documentacion {% endblock appName %}
{% block Type %} Editar {% endblock Type %}

{% block panel-content %}

<div class="row">
  <div class="col-lg-10 col-12 mx-auto position-relative">
    <div class="card">
      <div class="card-header p-3 pt-2 pb-0">
        <div class="icon icon-lg icon-shape bg-gradient-secondary shadow text-center border-radius-xl mt-n4 float-start">
          <i class="fas fa-file-invoice opacity-10"></i>
        </div>
        <div class="row">
          {% for i in object.idBankMovements.all %}
          <div class="col-md-8 col-8">
            <p class="mb-0 pb-0">{{i.idAccount}}  / {{i.idAccount.accountName}}</p>
            <h6 class="mt-sm-0 pt-0 ">
              {{i.date|date:"Y-m-d"}} | nOp: {{i.opNumber}} | {{i.description}}
            </h6>
          </div>
          <div class="col-md-4 col4 text-end justify-content-end align-items-center align-middle">
            <small>{{i.idAccount.get_currency_display}} {{i.amount|floatformat:"2g"}}</small>
            <p class="mt-sm-0 pt-0 text-dark font-weight-bold"> Conciliado: {{sum.tot|floatformat:"2g"}}</p>
          </div>
          {% endfor %} 
        </div>
      </div>
      <div class="card-body pt-0 pb-0">
        <form class="" method="POST" enctype="multipart/form-data" novalidate>{% csrf_token %}
          <div class=" border-radius-xl bg-white" data-animation="FadeIn">
            <div class="multisteps-form__content">
              
              <div class="row">
                <div class="col-12 col-sm-12" hidden>
                  <div class="input-group input-group-outline">
                    <label for="exampleFormControlInput1" class="form-label">user</label>
                    {{ form.user }}
                  </div>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-12 col-sm-12 mt-sm-0">
                  <h6 class="mb-0">Documentos:</h6>
                  <div class="input-group input-group-outline">
                    <div class="form-group w-100">
                      {{ form.pdf_file }}
                    </div>
                  </div>
                  <p class="text-sm mb-0">Tamaño menor a 1 MB.</p>
                  {% for error in form.pdf_file.errors %}
                  <p class="text-xs text-primary mb-0">
                    {{ error|escape }}
                  </p>
                  {% endfor %}
                </div>
              </div>

              <br>

              <h6 class="font-weight-bolder">Informacion de documento</h6>
              <div class="row">
                <div class="col-6 col-sm-3">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">F. emisión</label>
                    {{ form.date }}
                  </div>
                </div>

                <div class="col-6 col-sm-3 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">T comprobante</label>
                    {{ form.typeInvoice }}
                  </div>
                </div>

                <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Id Comprobante</label>
                    {{ form.idInvoice }}
                  </div>
                </div>
                
                <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Anotación</label>
                    {{ form.annotation }}
                  </div>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-6 col-sm-3">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Mes Periodo</label>
                    {{ form.month_dec }}
                  </div>
                </div>

                <div class="col-6 col-sm-3 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Año Periodo</label>
                    {{ form.year_dec }}
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12 col-sm-8">
                  <p class="mb-0">Proveedor</p>
                  <div class="input-group input-group-outline">
                    {{ form.idClient }}
                  </div>
                </div>
              </div>

              <br>

              <div class="row">

                <div class="col-6 col-sm-2 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Moneda</label>
                    {{ form.typeCurrency }}
                  </div>
                </div>

                <div class="col-6 col-sm-2 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Monto</label>
                    {{ form.amountReconcilied }}
                  </div>
                  {% for error in form.amountReconcilied.errors %}
                  <p class="text-xs text-primary font-weight-bolder mb-0">
                    {{ error|escape }}
                  </p>
                  {% endfor %}
                </div>
                
                <div class="col-12 col-sm-8 mt-3 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Descripción</label>
                    {{ form.description }}
                  </div>
                </div>
              </div>
              <br>

              <h6 class="font-weight-bolder">Actividad relacionada</h6>
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Actividad</label>
                    {{ form.ActivitiesCategory }}
                  </div>
                </div>

                <div class="col-6 col-sm-4 mt-4 mt-sm-0" id="trafo" style="display:none">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Orden Transformador</label>
                    {{ form.idTrafoOrder }}
                  </div>
                </div>
                <div class="col-6 col-sm-4 mt-4 mt-sm-0" id="comision" style="display:none">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Comisión</label>
                    {{ form.idCommission }}
                  </div>
                </div>
                <div class="col-6 col-sm-4 mt-4 mt-sm-0" id="proyecto" style="display:none">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Proyecto</label>
                    {{ form.idProject }}
                  </div>
                </div>

              </div>

              <br>

              <h6 class="font-weight-bolder">Categoria de desembolso</h6>

              <div class="row">
                <div class="col-6 col-sm-4">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Categoría</label>
                    {{ form.expensesCategory }}
                  </div>
                </div>
                
                <div class="col-6 col-sm-4 mt-4 mt-sm-0" id="planilla" style="display:none">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Cat Planilla</label>
                    {{ form.subCategoryPallRoy }}
                  </div>
                </div>
                <div class="col-6 col-sm-4 mt-4 mt-sm-0" id="cajachica" style="display:none">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Cat Caja chica</label>
                    {{ form.subCategoryCashBox }}
                  </div>
                </div>

              </div>
              <br>

              <h6 class="font-weight-bolder">Categoria de contabilidad</h6>

              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Cat Contabilidad</label>
                    {{ form.contabilidad }}
                  </div>
                </div>
              </div>

              <div class="button-row d-flex mt-4">
                <a class="btn bg-gradient-dark" href="{% url 'movimientos_app:lista-documentacion'%}"> REGRESAR </a>

                <button class="btn bg-gradient-success ms-auto js-btn-next" type="submit" title="update">ACTUALIZAR DOCUMENTO</button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% for error in form.errors %}
<p class="text-sm text-primary font-weight-bolder mb-0">
  {{ error|escape }}
</p>
{% endfor %}

{% endblock panel-content %}

{% block JSscripts %}

<script>
  function toggleDiv() {
    let selected = document.getElementById("id_expensesCategory").value;
    let planilla = document.getElementById("planilla");
    let cajachica = document.getElementById("cajachica");

    planilla.style.display = "none";
    cajachica.style.display = "none";
    
    switch(Number(selected)){
      case 4:
        cajachica.style.display = "inline-block";
        break;
      case 7:
        planilla.style.display = "inline-block";
        break;
    }
  }

  function toggleDivActivities() {
    let selected = document.getElementById("id_ActivitiesCategory").value;
    let trafo = document.getElementById("trafo");
    let comision = document.getElementById("comision");
    let proyecto = document.getElementById("proyecto");

    trafo.style.display = "none";
    comision.style.display = "none";
    proyecto.style.display = "none";
    
    switch(Number(selected)){
      case 0:
        trafo.style.display = "inline-block";
        break;
      case 1:
        comision.style.display = "inline-block";
        break;
      case 2:
        proyecto.style.display = "inline-block";
        break;
    }
  }
</script>

<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>
    if (document.querySelector('.datetimepicker')) {
        flatpickr('.datetimepicker', {
            allowInput: true,
            //noCalendar: true,
            maxDate: "today"
            //mode: "range"
        }); // flatpickr
    }
</script>

<script>
  document.getElementById("id_user").value = "{{user.id}}";
  //document.getElementById("id_idBankMovements").value = "{{object.idBankMovements.all.0.id}}";
</script>

<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script type="text/javascript">
  if (document.getElementById('id_idClient')) {
    var element = document.getElementById('id_idClient');
    const example = new Choices(element, {});
  }
  if (document.getElementById('id_idBankMovements')) {
    var element = document.getElementById('id_idBankMovements');
    const example = new Choices(element, {});
  }
</script>

{% endblock JSscripts %}