{% extends "movimientos/base-movimientos.html" %}

{% load  static %}
{% block title %} Movimientos {% endblock title %}
{% block main %} Movimientos {% endblock main %}
{% block appName %} Cuentas {% endblock appName %}
{% block Type %} Listas {% endblock Type %}

{% block panel-content %}

<div class="row ">
  <div class="col-lg-6 col-md-6">
    <div class="nav-wrapper position-relative end-0">
      <ul class="nav nav-pills nav-fill p-1">
        <li class="nav-item bg-gradient-secondary border-radius-lg" role="presentation">
          <a class="nav-link mb-0 px-0 py-1 text-white" href="{% url 'movimientos_app:lista-movimientos' %}">
            <span class="ms-1">Movimientos</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link mb-0 px-0 py-1" href="{% url 'movimientos_app:lista-documentacion' %}">
            <span class="ms-1">Documentos</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- ================ BODY ================= -->
<div class="row">
  <div class="col-lg-6 col-12 d-flex ms-auto">
    <a class="export btn btn-icon btn-outline-secondary ms-auto" data-type="csv" type="button">
      Export CSV
    </a>
    <div class="dropleft ms-3">
      <a class="btn bg-gradient-secondary" href="{% url 'movimientos_app:movimientos-nuevo' %}">
        NUEVO
      </a>
    </div>
    <div class="dropleft ms-3">
      <a class="btn bg-gradient-dark" href="{% url 'movimientos_app:movimientos-subir-excel' %}">
        SUBIR EXCEL
      </a>
    </div>
  </div>
</div>

<div class="row">  
  <div class="col-12">
      <div class="card">
          <div class="card-header pb-0 ">
            <div class="row">
              <div class="col-lg-6 col-md-3">
                <h6 class="mb-0">{{movimientos.selectedAccount.accountName}} </h6>
                <p class="text-sm mb-0 text-info font-weight-bold">
                  <span class="text-md font-weight-bold">{{movimientos.selectedAccount.get_currency_display}} {{movimientos.lastBalance.balance|floatformat:"2g"}}</span> <small class="text-xs text-secondary">{{movimientos.selectedAccount.modified|date:'Y-m-d H:i'}}</small>  
                </p>
              </div>
              <div class="col-lg-6 col-md-9">
                <form method="GET" class="">{% csrf_token %}
                  <div class="d-flex align-items-center">
                    <div class="input-group input-group-outline is-valid">
                      <select class="form-control" name="AccountKword" id="AccountKword">
                        {% for i in movimientos.listAccount %}
                          {% if i.id == movimientos.selectedAccount.id %}
                            <option value="{{i.id}}" selected>{{i}}</option>
                          {% else %}
                            <option value="{{i.id}}">{{i}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                      
                    </div>
                    &emsp;
                    <div class="input-group input-group-outline">
                      <input class="form-control datetimepicker text-center text-dark" value="{{object_list.intervalDate}}"
                        placeholder="today" id="dateKword" name="dateKword">
                    </div>
                    &emsp; 
                    <div class="pt-3 pb-0">
                      <button class="btn bg-gradient-dark" type="submit"> Buscar </button>
                    </div>
                    
                  </div>
                </form>
              </div>
            </div>            
          </div>
          <div class="card-body pt-0 px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table table-flush mb-0 align-items-center" id="datatable-move">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-uppercase text-secondary text-xs text-center font-weight-bolder opacity-7 ps-2">Fecha </th>
                      <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Descripción EEC</th>
                      <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Monto</th>
                      <th class="text-uppercase text-info text-xs font-weight-bolder opacity-7 ps-2">Resumen</th>
                      <th class="text-uppercase text-info text-xs font-weight-bolder opacity-7 ps-2">Conciliación</th>
                      <th class="text-uppercase text-info text-xs font-weight-bolder opacity-7 ps-2">Doc</th>
                      <th class="text-uppercase text-dark text-xs font-weight-bolder opacity-7 ps-2">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for t in movimientos.bankMovements %}
                    <tr>
                      <td class="text-sm">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ t.date|date:'y-m' }}</h6>
                          <p class="text-sm font-weight-normal text-secondary mb-0">{{ t.date|date:'d-m-Y' }}</p>
                        </div>
                      </td>
                      <td class="text-sm">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm"> <a href="{% url 'movimientos_app:movimientos-detalle' t.id %}">{{t.description}} </a> </h6>
                          <p class="text-sm font-weight-normal text-secondary mb-0"> <a href="{% url 'movimientos_app:movimientos-detalle' t.id %}">nOp: {{t.opNumber}}  </a></p>
                        </div>
                      </td>
                      <td class="text-sm text-end">
                        {% if t.transactionType == "1" %}
                        <span class="me-2 text-sm font-weight-bold text-success">+{{ t.amount|floatformat:"2g" }}</span>
                        {% else %}
                        <span class="me-2 text-sm font-weight-bold text-primary">-{{ t.amount|floatformat:"2g" }}</span>
                        {% endif %}
                      </td>

                      {% if t.conciliationType == "0" %}
                      <td class="text-sm">
                        <div class="w-100">
                          <div class="d-flex align-items-center mb-2">
                            <span class="me-2 text-sm font-weight-bold text-dark">{{ t.sum|floatformat:"2g" }}</span>
                            <span class="ms-auto text-sm font-weight-normal">{{ t.per|floatformat:0 }}%</span>
                          </div>
                          <div>
                            <div class="progress progress-md w-100">
                              <div class="progress-bar bg-dark" role="progressbar" style="width: {{ t.per|floatformat:0 }}%;"></div>
                          </div>
                        </div>
                      </td>

                      <td class="text-sm">
                        <div class="d-flex flex-column justify-content-center">
                          {% for i in t.idDocs.all %}<p class="text-sm font-weight-normal text-secondary mb-0">{{i}} / {{i.description}}</p> {%endfor%}
                        </div>
                      </td>

                      <td class="text-sm">
                        <div class="d-flex flex-column justify-content-center">
                          {% for i in t.idDocs.all %} {% if i.pdf_file %} <a href="/media/{{i.pdf_file}}"><i class="far fa-file-pdf"></i> </a> {% else %} <p class="text-sm font-weight-normal text-secondary mb-0">--</p> {% endif %} {%endfor%}
                        </div>
                      </td>

                      {% else %}
                      <td class="text-sm">
                        <div class="w-100">
                          <div class="d-flex align-items-center mb-2">
                            <span class="me-2 text-sm font-weight-bold text-dark">{{ t.amountReconcilied|floatformat:"2g" }}</span>
                            <span class="ms-auto text-sm font-weight-normal">{{ t.per_mov|floatformat:0 }}%</span>
                          </div>
                          <div>
                            <div class="progress progress-md w-100">
                              <div class="progress-bar bg-dark" role="progressbar" style="width: {{ t.per_mov|floatformat:0 }}%;"></div>
                          </div>
                        </div>
                      </td>

                      <td class="text-sm">
                        <div class="d-flex flex-column justify-content-center">
                          {% for i in t.idMovement.all %}<p class="text-sm font-weight-normal text-secondary mb-0">{{i}}</p> {% endfor %}
                        </div>
                      </td>

                      <td class="text-sm">
                        
                      </td>

                      {% endif %}


                      <td>
                        <a href="javascript:;" class="text-secondary" id="dropdownMarketingCard" data-bs-toggle="dropdown" data-bs-placement="left"
                          aria-expanded="false">
                          <i class="fas fa-bars text-lg text-dark"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-start bg-gradient-light" aria-labelledby="dropdownMarketingCard" style="">
                          <li><a class="dropdown-item border-radius-md font-weight-bold text-dark" href="{% url 'movimientos_app:movimientos-detalle' t.id %}">Ver detalle</a></li>
                          <li><a class="dropdown-item border-radius-md font-weight-bold text-dark" href="{% url 'movimientos_app:movimientos-editar' t.id %}"> Editar movimiento</a></li>
                          <li><a class="dropdown-item border-radius-md font-weight-bold text-dark" href="{% url 'movimientos_app:movimientos-conciliar' t.id %}"> Conciliacion documentaria</a></li>
                          <li><a class="dropdown-item border-radius-md font-weight-bold text-dark" href="{% url 'movimientos_app:movimientos-conciliar-bancario' t.id %}"> Conciliacion bancaria</a></li>
                          <li><a class="dropdown-item border-radius-md font-weight-bold text-primary" href="javascript:;">Eliminar movimiento</a></li>
                        </ul>
                      </td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}

<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>
    if (document.querySelector('.datetimepicker')) {
        flatpickr('.datetimepicker', {
            allowInput: true,
            mode: "range"
        }); // flatpickr
    }
</script>

<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>
  /* PROYECTOS */
  const dataTableclientes= new simpleDatatables.DataTable("#datatable-move", {
    searchable: true,
    fixedHeight: false,
    perPage: 15
  });

  document.querySelectorAll(".export").forEach(function (el) {
    el.addEventListener("click", function (e) {
      var type = el.dataset.type;

      var data = {
        type: type,
        filename: "movimientos",
      };

      if (type === "csv") {
        data.columnDelimiter = ",";
      }

      dataTableclientes.export(data);
    });
  });

</script>


{% endblock JSscripts %}