{% extends "movimientos/base-transferencias.html" %}

{% load  static %}
{% block title %} Movimientos {% endblock title %}
{% block main %} Movimientos {% endblock main %}
{% block appName %} Transferencias {% endblock appName %}
{% block Type %} Lista {% endblock Type %}

{% block panel-content %}

<div class="row">
  <div class="col-lg-6 col-md-3">
      
  </div>
  <div class="col-lg-6 col-md-9">
      <form method="GET" class="">{% csrf_token %}
          <div class="d-flex align-items-center">
              <div class="input-group input-group-outline">
                  <input class="form-control datetimepicker text-center text-dark" value="{{object_list.intervalDate}}"
                      placeholder="today" id="dateKword" name="dateKword">
              </div>
              &emsp;
              <div class="pt-3 pb-0">
                  <button class="btn bg-gradient-success" type="submit"> Buscar </button>
              </div>
          </div>
      </form>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">

      <div class="card-header p-3 pb-0">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="mb-0 text-uppercase">Historial de transferencias</h6>
          <span class="d-flex align-items-center">
            <a class="export btn btn-primary btn-sm btn mb-0 ms-2 btn-sm align-items-center justify-content-center"
              data-type="csv" type="button">
              <span class="btn-inner--icon"><i class="fas fa-cloud-download-alt text-md"></i></span>
              <span class="btn-inner--text">Descargar</span>
            </a>
            <a class="btn btn-primary btn-sm  mb-0 ms-2 align-items-center justify-content-center"
              href="{% url 'movimientos_app:transferencia-nuevo' %}">
              <span class="btn-inner--icon"><i class="fas fa-plus text-md"></i></span>
              <span class="btn-inner--text">NUEVO</span>
            </a>
          </span>
        </div>
      </div>

      <div class="card-body pt-0 px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-canter mb-0" id="datatable-proyectos">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Fecha</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Origen</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Destino</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Num Operación</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for t in transferencias.transferencia %}
              <tr>
                <td class="text-sm font-weight-bold">{{ t.created_at }}</td>
                <td class="text-start">
                  <p class="mb-0  text-sm">{{ t.idSourceAcount }}</p>
                  <p class="mb-0 font-weight-bold  text-sm">{{ t.SourceAmount }}</p>
                </td>
                <td class="text-start">
                  <p class="mb-0 text-sm">{{ t.idDestinationAcount }}</p>
                  <p class="mb-0 font-weight-bold text-sm">{{ t.DestinationAmount }}</p>
                </td>
                <td class="text-sm font-weight-bold">{{ t.opNumber }}</td>
                <td>
                  <a href="{% url 'movimientos_app:transferencia-editar' t.id %}">
                    <i class="fas fa-edit text-info text-lg"></i>
                  </a>
                  &emsp;
                  <a href="{% url 'movimientos_app:transferencia-eliminar' t.id %}">
                    <i class="fas fa-trash text-danger text-lg"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}

<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>
  /* PROYECTOS */
  const dataTableclientes= new simpleDatatables.DataTable("#datatable-proyectos", {
    searchable: true,
    fixedHeight: false,
    perPage: 5
  });

  document.querySelectorAll(".export").forEach(function (el) {
    el.addEventListener("click", function (e) {
      var type = el.dataset.type;

      var data = {
        type: type,
        filename: "transferencias",
      };

      if (type === "csv") {
        data.columnDelimiter = ",";
      }

      dataTableclientes.export(data);
    });
  });

</script>

<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>
    if (document.querySelector('.datetimepicker')) {
        flatpickr('.datetimepicker', {
            allowInput: true,
            mode: "range"
        }); // flatpickr
    }
</script>

{% endblock JSscripts %}