{% extends "movimientos/base-reporte.html" %}

{% load  static %}
{% block title %} Movimientos {% endblock title %}
{% block main %} Movimientos {% endblock main %}
{% block appName %} Reportes {% endblock appName %}
{% block Type %} Flujo de caja {% endblock Type %}

{% block panel-content %}
<div class="row pt-2">
  <div class="col-lg-6 col-md-3">
    <h5 class="mb-0">{{cuenta.datos.Cuenta}} {{cuenta.datos.Cuenta.accountName}}</h5>
    <p class="text-md mb-0 font-weight-bolder text-secondary">
      Saldo actual: {{cuenta.datos.Cuenta.get_currency_display}} {{cuenta.array.first.balance|floatformat:"2g"}}
    </p>
  </div>
  <div class="col-lg-6 col-md-9">
    <form method="GET" class="">{% csrf_token %}
      <div class="d-flex align-items-center">
        <div class="input-group input-group-outline">
          <input class="form-control datetimepicker text-center text-dark" value="{{object_list.intervalDate}}"
            placeholder="today" id="dateKword" name="dateKword">
        </div>
        &emsp; 
        <div class="pt-3 pb-0">
          <button class="btn bg-gradient-secondary" type="submit"> Buscar </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- FLUJO DE CAJA -->
<div class="row">
  <div class="col-sm-12">
    <div class="card h-100 mt-4 mt-md-0">
      <div class="card-header pb-0 p-3">
        <div class="d-flex align-items-center">
          <h6>Flujo de caja</h6>
        </div>
      </div>
      <div class="card-body px-3 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center justify-content-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Page</th>
                {% for i in cuenta.months %}
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">{{i.month|date:"m-Y"}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p class="text-sm font-weight-normal mb-0">1. Monto inicial</p>
                </td>
                <td>
                  <p class="text-sm font-weight-normal mb-0">345</p>
                </td>
                <td>
                  <p class="text-sm font-weight-normal mb-0">00:17:07</p>
                </td>
              </tr>

              <tr>
                <td>
                  <p class="text-sm font-weight-normal mb-0">2. Ingresos</p>
                </td>
                <td>
                  <p class="text-sm font-weight-normal mb-0">520</p>
                </td>
                <td>
                  <p class="text-sm font-weight-normal mb-0">00:23:13</p>
                </td>
              </tr>

              <tr>
                <td>
                  {% for k in cuenta.keyI %}
                  <p class="text-sm font-weight-normal mb-0">{{k.nameSubCategoy}}</p>
                  {% endfor %}
                </td>

                {% for key, value in cuenta.income.items %}
                <td>
                  {% for key,value in value.items %}
                  <p class="text-sm font-weight-normal mb-0">
                    {{value}}
                  </p>
                  {% endfor %}
                </td>
                {% endfor %}
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="table-container"></div>


{% endblock panel-content %}
{% block JSscripts %}

<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>
    if (document.querySelector('.datetimepicker')) {
        flatpickr('.datetimepicker', {
            allowInput: true,
            mode: "range"
        }); // flatpickr
    }
</script>

<script>

  const data = [
    {
      "name": "Juan",
      "age": 25,
      "contact": {"phone": "123-456-7890" }
    },
    {
      "name": "Maria",
      "age": 30,
      "contact": { "email": "maria@example.com", "phone": "987-654-3210" }
    },
    {
      "name": "Carlos",
      "age": 35,
      "contact": { "email": "carlos@example.com", "phone": "555-123-4567" }
    }
  ];
  const container = document.getElementById('table-container');

  // Crear la tabla
  function createTable(data) {
    const table = document.createElement('table');
    const thead = document.createElement('thead');
    const tbody = document.createElement('tbody');

    // Crear encabezados de tabla
    const headers = ['Name', 'Age', 'Email', 'Phone'];
    
    //const headers = [];
    //"{% for i in cuenta.months %}"
    //headers.push("{{i.month|date:'m-Y'}}");
    //"{% endfor %}"

    console.log(headers);

    const headerRow = document.createElement('tr');
    headers.forEach(headerText => {
      const th = document.createElement('th');
      th.textContent = headerText;
      headerRow.appendChild(th);
    });
    thead.appendChild(headerRow);

    // Crear filas de datos
    data.forEach(item => {
      const row = document.createElement('tr');

      const nameCell = document.createElement('td');
      nameCell.textContent = item.name;
      row.appendChild(nameCell);

      const ageCell = document.createElement('td');
      ageCell.textContent = item.age;
      row.appendChild(ageCell);

      const emailCell = document.createElement('td');
      emailCell.textContent = item.contact.email;
      row.appendChild(emailCell);

      const phoneCell = document.createElement('td');
      phoneCell.textContent = item.contact.phone;
      row.appendChild(phoneCell);

      tbody.appendChild(row);
    });

    // Añadir thead y tbody a la tabla
    table.appendChild(thead);
    table.appendChild(tbody);

    return table;
  }

  // Añadir la tabla al contenedor
  container.appendChild(createTable(data));

</script>


{% endblock JSscripts %}