{% extends "movimientos/base-reporte.html" %}

{% load  static %}
{% block title %} Movimientos {% endblock title %}
{% block main %} Movimientos {% endblock main %}
{% block appName %} Reportes {% endblock appName %}
{% block Type %} Flujo de caja {% endblock Type %}

{% block panel-content %}
<div class="row pt-2">
  <div class="col-lg-6 col-md-3">
    <h5 class="mb-0">{{cuenta.datos.Cuenta}} {{cuenta.datos.Cuenta.accountName}}</h5>
    <p class="text-md mb-0 font-weight-bolder text-secondary">
      Saldo actual: {{cuenta.datos.Cuenta.get_currency_display}} {{cuenta.array.first.balance|floatformat:"2g"}}
    </p>
  </div>
  <div class="col-lg-6 col-md-9">
    <form method="GET" class="">{% csrf_token %}
      <div class="d-flex align-items-center">
        <div class="input-group input-group-outline">
          <input class="form-control datetimepicker text-center text-dark" value="{{object_list.intervalDate}}"
            placeholder="today" id="dateKword" name="dateKword">
        </div>
        &emsp; 
        <div class="pt-3 pb-0">
          <button class="btn bg-gradient-secondary" type="submit"> Buscar </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- FLUJO DE CAJA -->
<div class="row">
  <div class="col-sm-12">
    <div class="card h-100 mt-4 mt-md-0">
      <div class="card-header pb-0 p-3">
        <div class="d-flex align-items-center">
          <h6>Flujo de caja</h6>
        </div>
      </div>
      <div class="card-body px-3 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center justify-content-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Page</th>
                {% for i in cuenta.months %}
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">{{i.month|date:"m-Y"}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p class="text-sm font-weight-normal mb-0">1. Monto inicial</p>
                </td>
                <td>
                  <p class="text-sm font-weight-normal mb-0">-</p>
                </td>
                <td>
                  <p class="text-sm font-weight-normal mb-0">-</p>
                </td>
                <td>
                  <p class="text-sm font-weight-normal mb-0">-</p>
                </td>
              </tr>

              <tr>
                <td>
                  <p class="text-sm font-weight-normal mb-0">2. Ingresos</p>
                </td>
                <td>
                  <p class="text-sm font-weight-normal mb-0"></p>
                </td>
                <td>
                  <p class="text-sm font-weight-normal mb-0"></p>
                </td>
                <td>
                  <p class="text-sm font-weight-normal mb-0"></p>
                </td>
              </tr>

              <tr>
                <td>
                  {% for k in cuenta.keyI %}
                  <p class="text-sm font-weight-normal mb-0">{{k.nameSubCategoy}}</p>
                  {% endfor %}
                </td>

                {% for key, value in cuenta.income.items %}
                <td>
                  {% for key,value in value.items %}
                  <p class="text-sm font-weight-normal mb-0">
                    {{value}}
                  </p>
                  {% endfor %}
                </td>
                {% endfor %}
              </tr>

              <tr>
                <td>
                  <p class="text-sm font-weight-normal mb-0">3. Egresos</p>
                </td>
                <td>
                  <p class="text-sm font-weight-normal mb-0"></p>
                </td>
                <td>
                  <p class="text-sm font-weight-normal mb-0"></p>
                </td>
              </tr>

              <tr>
                <td>
                  {% for k in cuenta.keyE %}
                  <p class="text-sm font-weight-normal mb-0">{{k.nameSubCategoy}}</p>
                  {% endfor %}
                </td>

                {% for key, value in cuenta.expense.items %}
                <td>
                  {% for key,value in value.items %}
                  <p class="text-sm font-weight-normal mb-0">
                    {{value}}
                  </p>
                  {% endfor %}
                </td>
                {% endfor %}
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock panel-content %}
{% block JSscripts %}

<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>
  if (document.querySelector('.datetimepicker')) {
    flatpickr('.datetimepicker', {
      allowInput: true,
      mode: "range"
    }); // flatpickr
  }
</script>

{% endblock JSscripts %}