{% extends "pedidos/base-nueva-solicitud.html" %}

{% load  static %}

{% block title %} Ordenes {% endblock title %}
{% block main %} Ordenes {% endblock main %}
{% block appName %} Lista {% endblock appName %}
{% block Type %} Nueva {% endblock Type %}

{% block panel-content %}

<div class="row min-vh-80">
    <div class="col-lg-8 col-md-10 col-12 m-auto">

        <div class="card">
            <div class="card-header p-0 position-relative mt-n5 mx-3 z-index-2">
                <div class="bg-gradient-info shadow-dark border-radius-lg pt-3 pb-2">
                    <h6 class="text-center text-white"> CREAR LISTA DE REQUERIMIENTOS </h6>
                </div>
            </div>
            <div class="card-body pb-0">
                <form class="" method="POST" enctype="multipart/form-data" id="paymentrequest_form" novalidate>{% csrf_token %}

                    <div class=" border-radius-xl bg-white" data-animation="FadeIn">

                        <div class="multisteps-form__content">

                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    <div class="input-group input-group-outline is-focused">
                                        <label for="exampleFormControlInput1" class="form-label">Nombre de lista</label>
                                        {{ form.listName }}
                                    </div>
                                </div>
                            </div>

                            <div class="row" hidden>
                                <div class="col-12 col-sm-12">
                                    <div class="input-group input-group-outline focused is-focused">
                                        <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                                        {{ form.idPetitioner }}
                                    </div>
                                </div>
                            </div>

                            <div class="button-row d-flex mt-4">
                                <a class="btn bg-gradient-dark" href="{% url 'pedidos_app:listas-solicitudes' %}">
                                    REGRESAR </a>

                                <button class="btn bg-gradient-success ms-auto js-btn-next" type="submit"
                                    title="Crear">CREAR
                                    LISTA</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}

<script>
    document.getElementById("id_idPetitioner").value = "{{user.id}}";
  </script>

{% endblock JSscripts %}