{% extends "pedidos/base-nueva-solicitud.html" %}

{% load  static %}

{% block title %} Ordenes {% endblock title %}
{% block main %} Ordenes {% endblock main %}
{% block appName %} Requerimientos {% endblock appName %}
{% block Type %} Nuevo {% endblock Type %}

{% block panel-content %}

<div class="row min-vh-80">
  <div class="col-lg-8 col-md-10 col-12 m-auto">

    <div class="card">
      <div class="card-header p-0 position-relative mt-n5 mx-3 z-index-2">
        <div class="bg-gradient-info shadow-dark border-radius-lg pt-3 pb-2">
          <h6 class="text-center text-white"> NUEVO REQUERIMIENTO </h6>
        </div>
      </div>
      <div class="card-body pb-0">
        <form class="" method="POST" enctype="multipart/form-data" id="paymentrequest_form" novalidate>{% csrf_token %}

          <div class=" border-radius-xl bg-white" data-animation="FadeIn">

            <div class="multisteps-form__content">
              <h6 class="font-weight-bolder">Informacion de solicitud</h6>

              <div class="row" hidden>
                <div class="col-12 col-sm-12">
                  <div class="input-group input-group-outline">
                    <label for="exampleFormControlInput1" class="form-label">user</label>
                    {{ form.idPetitioner }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-sm-12">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Descripción</label>
                    {{ form.requirementName }}
                  </div>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-6 col-sm-3">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Cantidad</label>
                    {{ form.quantity }}
                  </div>
                </div>
                <div class="col-6 col-sm-3 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Monto</label>
                    {{ form.amountRequested }}
                  </div>
                  {% for error in form.amountRequested.errors %}
                    <p class="cell" style="color: red;">
                      <b>{{ error|escape }}</b>
                    </p>
                  {% endfor %}
                </div>

                <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Moneda</label>
                    {{ form.currencyType }}
                  </div>
                </div>

                <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Vencimiento</label>
                    {{ form.deadline }}
                  </div>
                </div>
                
              </div>

              <br>

              <div class="row">
                <div class="col-6 col-sm-6 mt-3 mt-sm-0">
                  <p class="mb-0">Proveedor</p>
                  <div class="input-group input-group-outline">
                    {{ form.idProvider }}
                  </div>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-12 col-sm-12 mt-3 mt-sm-0">
                  <div class="input-group input-group-outline">
                    <div class="form-group">
                      {{ form.pdf_file }}
                    </div>
                  </div>
                  <p class="text-sm mb-0">Tamaño menor a 1 MB.</p>
                  {% for error in form.pdf_file.errors %}
                  <p class="text-sm text-primary font-weight-bolder mb-0">
                    {{ error|escape }}
                  </p>
                  {% endfor %}
                </div>
              </div>

              <br>

              <h6 class="font-weight-bolder">Información adicional</h6>

              <div class="row">
                <div class="col-6 col-sm-3">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">O. Transformador</label>
                    {{ form.idTrafoOrder }}
                  </div>
                </div>
                <div class="col-6 col-sm-3">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Categoria</label>
                    {{ form.paymentType }}
                  </div>
                </div>
                <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Comisión</label>
                    {{ form.idCommissions }}
                  </div>
                </div>
                <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Proyecto</label>
                    {{ form.idProjects }}
                  </div>
                </div>
              </div>

              <div class="button-row d-flex mt-4">
                <a class="btn bg-gradient-dark" href="{% url 'pedidos_app:mi-lista-solicitudes' %}"> REGRESAR </a>

                <button class="btn bg-gradient-success ms-auto js-btn-next" type="submit" title="Next">CREAR
                  REQUERIMIENTO</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}

<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>
    if (document.querySelector('.datetimepicker')) {
        flatpickr('.datetimepicker', {
            allowInput: true,
            //mode: "range"
        }); // flatpickr
    }
</script>

<script>
  document.getElementById("id_idPetitioner").value = "{{user.id}}";
</script>

<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script type="text/javascript">
  if (document.getElementById('id_idProvider')) {
    var element = document.getElementById('id_idProvider');
    const example = new Choices(element, {});
  }
</script>

{% endblock JSscripts %}