{% extends "actividades/base-pedidos-transformadores.html" %}

{% load  static %}

{% block title %} Actividades {% endblock title %}

{% block main %} Actividades {% endblock main %}
{% block appName %} Cotizaciones {% endblock appName %}
{% block Type %} Enviar email {% endblock Type %}
{% block panel-content %}

<div class="row min-vh-80">
  <div class="col-lg-8 col-md-10 col-12 m-auto">

    <div class="card">
      <div class="card-header p-0 position-relative mt-n5 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-dark border-radius-lg pt-3 pb-2">
          <h6 class="text-center text-white"> Enviar email {{object}} </h6>
        </div>
      </div>
      <div class="card-body pb-0">
        <form class="" method="POST">{% csrf_token %}

          <div class=" border-radius-xl bg-white" data-animation="FadeIn">

            <div class="multisteps-form__content">
              <h6 class="font-weight-bolder">Informacion de proyecto</h6>

              <div class="row">
                <div class="col-12 col-sm-12" hidden>
                  <div class="input-group input-group-outline  focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Cotizacion</label>
                    {{ form.idQuote }}
                  </div>
                </div>
                <div class="col-6 col-sm-6">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Emisor</label>
                    {{ form.sender }}
                  </div>
                </div>
                <div class="col-6 col-sm-6">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Receptor</label>
                    {{ form.recipients }}
                  </div>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-12 col-sm-12" hidden>
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">SUbject</label>
                    {{ form.subject }}
                  </div>
                </div>
              </div>

              <br>
              <div class="row">
                <div class="col-12 col-sm-12">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Cuerpo</label>
                    {{ form.body }}
                  </div>
                </div>
              </div>

              <br>
              <div class="row">
                <div class="col-12 col-sm-12">
                  <div class="input-group input-group-outline focused is-focused">
                    <label for="exampleFormControlInput1" class="form-label">Typo</label>
                    {{ form.sendFlag }}
                  </div>
                </div>
              </div>


              <div class="button-row d-flex mt-4">
                <a class="btn bg-gradient-dark" href="{% url 'activities_app:comision-lista' %}"> REGRESAR </a>

                <button class="btn bg-gradient-success ms-auto js-btn-next" type="submit" title="Next">Enviar Correo</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}

{% endblock JSscripts %}