{% extends "actividades/base-pedidos-transformadores.html" %}

{% load  static %}
{% block title %} Ordenes {% endblock title %}
{% block main %} Ordenes {% endblock main %}
{% block appName %} Pedidos {% endblock appName %}
{% block Type %} Detalle {% endblock Type %}

{% block panel-content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card mb-4">
                <div class="card-header p-3 pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="w-50">
                            <h5>Detalle de pedido</h5>

                            <p class="text-sm mb-0"> Id de Pedido <b>{{ pedido.idOrder }}</b> </p>
                            <p class="text-sm mb-0"> Fecha de pedido: <b>{{ pedido.dateOrder |date:'d-m-Y'}}</b> </p>
                            <p class="text-sm"> Fecha de entrega: <b>{{ pedido.deadline |date:'d-m-Y'}}</b> </p>

                        </div>
                        <div class="w-50">
                            <h6>Cliente: {{ pedido.idClient }} <span class="text-sm mb-3">({{ pedido.idClient.country }})</span></h6>
                            <p class="text-sm mb-0">Modelo: <b>{{ pedido.idTransformer }}</b></p>
                            <p class="text-sm mb-0">Fases <b>{{ pedido.idTransformer.get_phase_display }}</b></p>
                            <p class="text-sm mb-0">Potencia. <b>{{ pedido.idTransformer.get_power_display }} kVA</b></p>
                            <p class="text-sm mb-0">Voltaje. <b>{{ pedido.idTransformer.get_voltage_display }} V</b></p>
                            <p class="text-sm mb-0">Tipo. <b>{{ pedido.idTransformer.get_type_display }}</b></p>
                            <p class="text-md mb-0">Cantidad. <b>{{ pedido.numberUnits }} unidades</b></p>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-0">
                    
                    <hr class="horizontal dark mt-4 mb-4">

                    <div class="row">
                        <!-- SEGUIMIENTO -->
                        <div class="col-lg-4 col-md-4 col-12">
                            <h6 class="mb-3 text-info">Seguimiento</h6>
                            <div class="timeline timeline-one-side">

                                {% for id in orderTrack %}
                                <div class="timeline-block mb-3">
                                    {% if id.orderState == "0" %}
                                    <span class="timeline-step">
                                        <i class="fas fa-bell text-sm text-dark text-lg"></i>
                                    </span>
                                    <div class="timeline-content">
                                        <h6 class="text-dark text-sm font-weight-bold mb-0">Pedido Creado</h6>
                                        <p class="text-secondary font-weight-normal text-xs mt-1 mb-0">{{id.dateChange|date:'d-m-Y h:i'}}
                                        </p>
                                    </div>
                                    {% elif id.orderState == "1" %}
                                    <span class="timeline-step">
                                        <i class="fas fa-vote-yea text-sm text-dark text-lg"></i>
                                    </span>
                                    <div class="timeline-content">
                                        <h6 class="text-dark text-sm font-weight-bold mb-0">Pedido fabricado</h6>
                                        <p class="text-secondary font-weight-normal text-xs mt-1 mb-0">{{id.dateChange|date:'d-m-Y h:i' }}
                                        </p>
                                    </div>
                                    {% elif id.orderState == "2" %}
                                    <span class="timeline-step">
                                        <i class="fas fa-truck text-sm text-dark text-lg"></i>
                                    </span>
                                    <div class="timeline-content">
                                        <h6 class="text-dark text-sm font-weight-bold mb-0">Pedido Enviado</h6>
                                        <p class="text-secondary font-weight-normal text-xs mt-1 mb-0">{{id.dateChange|date:'d-m-Y' }}
                                        </p>
                                    </div>
                                    {% elif id.orderState == "3" %}
                                    <span class="timeline-step">
                                        <i class="fas fa-check text-sm text-success text-lg"></i>
                                    </span>
                                    <div class="timeline-content">
                                        <h6 class="text-dark text-sm font-weight-bold mb-0">Pedido Completado</h6>
                                        <p class="text-secondary font-weight-normal text-xs mt-1 mb-0">{{id.dateChange|date:'d-m-Y' }}
                                        </p>
                                    </div>
                                    {% elif id.orderState == "4" %}
                                    <span class="timeline-step">
                                        <i class="fas fa-times text-sm text-danger text-lg"></i>
                                    </span>
                                    <div class="timeline-content">
                                        <h6 class="text-dark text-sm font-weight-bold mb-0">Pedido Cancelado</h6>
                                        <p class="text-secondary font-weight-normal text-xs mt-1 mb-0">{{id.dateChange|date:'d-m-Y' }}
                                        </p>
                                    </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                                
                            </div>
                            <p class="text-sm mb-0">
                                <a href="" >
                                    <i class="far fa-calendar-plus text-lg"></i> Añadir seguimiento
                                </a>
                            </p>
                            
                            <p>
                                <a href="" >
                                    <i class="fas fa-list text-lg"></i> Detalles
                                </a>
                            </p>

                            

                        </div>

                        <!-- PAGOS RECIBIDOS -->
                        <div class="col-lg-4 col-md-4 col-12">
                            <h6 class="mb-3 text-success">Abonos recibidos </h6>
                            <div class="timeline timeline-one-side">

                                {% for id in ordersRecived %}
                                <div class="timeline-block mb-3">
                                    <span class="timeline-step">
                                        <i class="fas fa-money-check-alt text-sm text-dark text-lg"></i>
                                    </span>
                                    <div class="timeline-content">
                                        <h6 class="text-dark text-sm font-weight-bold mb-0">{{ id.amount }} {{id.idAccount.get_currency_display }}</h6>
                                        <p class="text-secondary font-weight-normal text-xs mt-1 mb-0">op: {{id.opNumber}} [<b> {{ id.paymentDate|date:'d-m-Y' }}</b>]
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                            <p class="mb-3">Total: {{ ordersRecived.sum }}</p>
                        </div>

                        <!-- GASTOS REALIZADOS -->
                        <div class="col-lg-4 col-md-4 col-12">
                            <h6 class="mb-3 text-primary">Gastos realizados </h6>
                            <div class="timeline timeline-one-side">

                                {% for id in Supplier %}
                                <div class="timeline-block mb-3">
                                    <span class="timeline-step">
                                        <i class="fas fa-shopping-cart text-sm text-dark text-lg"></i>
                                    </span>
                                    <div class="timeline-content">
                                        <h6 class="text-dark text-sm font-weight-bold mb-0"> {{ id.amount }} {{id.idAccount.get_currency_display }}</h6>
                                        <p class="text-secondary font-weight-normal text-xs mt-1 mb-0">op: {{id.opNumber}} [<b> {{ id.paymentDate|date:'d-m-Y' }}</b>]
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                            <p class="mb-0">Total S/. {{ Supplier.sumSol }}</p>
                            <p class="">Total $ {{ Supplier.sumDol }}</p>
                        </div>
                    </div>

                    <hr class="horizontal dark mb-4">

                    <div class="row">
                        <!-- SUMARIO -->
                        <div class="col-lg-12 col-12 ms-auto">
                            <h6 class="mb-3">Resumen de orden:</h6>

                            <div class="d-flex justify-content-between">
                                <span class="mb-2 text-sm">
                                    Precio de pedido:
                                </span>
                                <span class="text-dark font-weight-bold ms-2">{{ pedido.amount }}</span>
                            </div>

                            <div class="d-flex justify-content-between">
                                <span class="mb-2 text-sm">
                                    Pagos recibidos:
                                </span>
                                <span class="text-dark ms-2 font-weight-bold">{{ ordersRecived.sum }}</span>
                            </div>

                            <div class="d-flex justify-content-between mt-4">
                                <span class="mb-2 text-lg">
                                    Pendiente:
                                </span>
                                <span class="text-dark text-lg ms-2 font-weight-bold">$105.95</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock panel-content %}

{% block JSscripts %}

{% endblock JSscripts %}