{% extends "base.html" %}

{% load static %}

{% block navbar_main %}Finanzas{% endblock %}
{% block navbar_appName %}Movimientos Bancarios{% endblock %}
{% block navbar_Type %}Conciliar con Movimiento{% endblock %}

{% block panel-content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-12 mx-auto position-relative">
        <div class="card">
          <div class="card-body p-3 position-relative">
            <h5 class="text-success">CONCILIACION BANCARIA</h5>

            <div class="row">
              <div class="col-md-8">
                <h6 class="mb-0">{{mov.idAccount|default:"-"}} {{mov.idAccount.accountName|default:"-"}}</h6>
                <p class="mt-sm-0 pt-0 mb-0"> {{mov.description|default:"-"}} {{mov.originDestination|default:"-"}} </p>
                <p class="mt-sm-0 pt-0 ">
                  <i class="fas fa-calendar-day me-2 text-lg"></i>
                  <small>{{mov.date|date:"Y-m-d"}} &nbsp; &nbsp; nOp: {{mov.opNumber|default:"-"}} </small>
                </p>
              </div>
              <div class="col-md-4 justify-content-end align-items-center text-end font-weight-bolder text-dark">
                <small class="text-lg font-weight-bolder text-dark">{{mov.idAccount.get_currency_display}} {{mov.amount|floatformat:"2g"}} </small>
                <p  class=" font-weight-bolder text-dark">Monto conciliado: {{sum.sum|floatformat:"2g"}}</p>
              </div>
            </div>

            <form class="" method="POST" enctype="multipart/form-data" novalidate>{% csrf_token %}

              <div class=" border-radius-xl bg-white" data-animation="FadeIn">
    
                <div class="multisteps-form__content">

                  <br>

                  <h6 class="font-weight-bolder">Seleccionar movimiento destino</h6>
    
                  <div class="row">
                    <div class="col-12 col-sm-12">
                      <div class="input-group input-group-outline">
                        {{ form.idMovArrival|default:"-" }}
                      </div>
                      {% for error in form.idMovArrival.errors %}
                      <p class="text-xs text-primary font-weight-bolder mb-0">
                        {{ error|escape }}
                      </p>
                      {% endfor %}
                    </div>
                  </div>

                  <br>
    
                  <div class="row">
                    <div class="col-1 col-sm-1 text-end text-dark">
                      <h4>{{mov.idAccount.get_currency_display}}</h4> 
                    </div>
                    <div class="col-6 col-sm-4">
                      <div class="input-group input-group-outline focused is-focused">
                        <label for="exampleFormControlInput1" class="form-label">Monto a conciliar </label>
                        {{ form.amountReconcilied }}
                      </div>
                      {% for error in form.amountReconcilied.errors %}
                      <p class="text-xs text-primary font-weight-bolder mb-0">
                        {{ error|escape }}
                      </p>
                      {% endfor %}
                    </div>

                    <div class="col-6 col-sm-4">
                      <div class="input-group input-group-outline focused is-focused">
                        <label for="exampleFormControlInput1" class="form-label">Monto equivalente </label>
                        {{ form.equivalentAmount }}
                      </div>
                      <p class="text-xs">Dejar en 0 si la conciliacion es en la misma moneda</p>
                      {% for error in form.equivalentAmount.errors %}
                      <p class="text-xs text-primary font-weight-bolder mb-0">
                        {{ error|escape }}
                      </p>
                      {% endfor %}
                    </div>
    
                    <div class="col-6 col-sm-4 mt-3 mt-sm-0" hidden>
                      <div class="input-group input-group-outline focused is-focused">
                        <label for="exampleFormControlInput1" class="form-label">Tipo</label>
                        {{ form.type }}
                      </div>
                    </div>

                    <div class="col-6 col-sm-3 mt-3 mt-sm-0" hidden>
                      <div class="input-group input-group-outline focused is-focused">
                        <label for="exampleFormControlInput1" class="form-label">mov</label>
                        {{ form.idMovOrigin }}
                      </div>
                    </div>

                    <div class="col-6 col-sm-3 mt-3 mt-sm-0" hidden>
                      <div class="form-check">
                        <label for="exampleFormControlInput1" class="form-label">status</label>
                        {{ form.status }}
                      </div>
                    </div>
    
                  </div>

                  <br>

                  {% if form.non_field_errors %}
                  <div class="alert alert-light">
                    {% for error in form.non_field_errors %}
                    <p class="text-danger text-md font-weight-bold"> {{ error }} </p>
                    {% endfor %}
                  </div>
                  {% endif %}
      
                  <div class="button-row d-flex mt-4">
                    <a class="btn bg-gradient-dark" href="{% url 'movimientosBancarios_app:lista-movimientos' %}"> REGRESAR </a>
    
                    <button class="btn bg-gradient-success ms-auto js-btn-next" type="submit" title="Next">AGREGAR REGISTRO</button>
                  </div>
    
                </div>
              </div>
            </form>



          </div>
        </div>
    </div>
  </div>
</div>
{% endblock panel-content %}

{% block JSscripts %}

<script>
  document.getElementById("id_idMovOrigin").value = "{{mov.id}}";
  document.getElementById("id_type").value = 1;
</script>

<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script type="text/javascript">
  if (document.getElementById('id_idMovArrival')) {
    var element = document.getElementById('id_idMovArrival');
    const example = new Choices(element, {});
  }
</script>

{% endblock JSscripts %}