{% extends "users/base-usuarios.html" %}

{% load  static %}
{% block title %} Personas {% endblock title %}
{% block main %} Personas {% endblock main %}
{% block appName %} Usuarios del sistema {% endblock appName %}
{% block Type %} Detalle {% endblock Type %}

{% block panel-content %}

<div class="row mt-4">
    <div class="col-lg-6 col-12">
        <div class="card">
            <div class="card-header pb-0 px-3 d-flex">
                <h6 class="mb-0">Información personal</h6>
                <div class="ms-auto text-end">
                    <a class="btn btn-link text-dark px-3 mb-0" href="{% url 'users_app:user-update' worker.person.id %}">
                        <i class="fas fa-edit text-sm me-2"></i>Editar
                    </a>
                </div>
            </div>
            <div class="card-body p-3">

                <div class="row">
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm">{{worker.person.full_name}} {{worker.person.last_name}}</h6>
                            <span class="mb-2 text-xs">Area: <span
                                    class="text-dark font-weight-bold ms-sm-2">{{worker.person.get_position_display}}</span></span>
                            <span class="mb-2 text-xs">Correo: <span
                                    class="text-dark ms-sm-2 font-weight-bold">{{worker.person.email}}</span></span>
                            <span class="mb-2 text-xs">DNI: <span
                                class="text-dark ms-sm-2 font-weight-bold">{{worker.person.dni}}</span></span>
                            <span class="mb-2 text-xs">Estado: <span
                                class="text-dark ms-sm-2 font-weight-bold">{{worker.person.get_condition_display}}</span></span>
                            <span class="text-xs">Telefono: <span
                                    class="text-dark ms-sm-2 font-weight-bold">{{worker.person.phoneNumber}}</span></span>
                            
                        </div>
                    </div>

                    <div class="col-6">

                        <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm">Contacto de emergencia</h6>
                            <span class="mb-2 text-xs">Nombre: <span
                                    class="text-dark font-weight-bold ms-sm-2">{{worker.person.EC_full_name}}</span></span>
                            <span class="mb-2 text-xs">Parentesco: <span
                                    class="text-dark ms-sm-2 font-weight-bold">{{worker.person.EC_relationship}}</span></span>
                            <span class="mb-2 text-xs">Teléfono: <span
                                class="text-dark ms-sm-2 font-weight-bold">{{worker.person.EC_phone}}</span></span>
                            <span class="text-xs">Correo: <span
                                    class="text-dark ms-sm-2 font-weight-bold">{{worker.person.EC_email}}</span></span>
                            
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12 mt-md-0 mt-4">
        <div class="card h-100">
            <div class="card-header pb-0 px-3">
                <form method="GET" class="">{% csrf_token %}
                    <div class="d-flex align-items-center">
        
                        <div class="input-group input-group-outline">
                            <input class="form-control datetimepicker text-center text-dark"
                                value="{{worker.intervalDate}}" placeholder="today" id="dateKword" name="dateKword">
                        </div>
                        &emsp;
                        <div class="pt-3 pb-0">
                            <button class="btn bg-gradient-primary" type="submit"> Buscar </button>
                        </div>
        
                    </div>
                </form>
            </div>

            <div class="card-body pt-0 p-0">
                <div class="card-body text-center">
                    <h2 class="text-gradient text-primary"><span id="status1"> {{worker.tasks.acc.acc}} </span> <span
                            class="text-lg ms-n2"> hrs</span></h2>
                    <h6 class="mb-0 font-weight-bolder">Horas extras acumulada</h6>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card my-4">

            <div class="card-header p-3 pb-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">Documentos administrativos</h6>
                    <span class="d-flex align-items-center">

                        <a class="btn btn-primary btn-sm  mb-0 ms-2 align-items-center justify-content-center"
                            href="{% url 'users_app:user-documento-crear' worker.person.id %}">
                            <span class="btn-inner--text">Agregar</span>
                        </a>
                    </span>
                </div>
            </div>

            <div class="card-body pt-0 px-0 pb-0">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0" id="datatable-docAdmin">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Fecha
                                </th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                    Tipo</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                    Resumen</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                    Doc</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                    Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doc in worker.docs %}
                            <tr>
                                <td class="text-start text-sm">{{ doc.created|date:"Y-m-d" }}</td>
                                <td class="text-start text-sm">{{ doc.get_typeDoc_display }}</td>
                                <td class="text-start text-sm">{{ doc.sumary }}</td>
                                <td>
                                    {% if doc.doc_file %}
                                    <a href="/media/{{ doc.doc_file }}">
                                        <i class="far fa-file-pdf text-info text-lg"></i>
                                    </a>
                                    {% endif %}
                                </td>

                                <td class="text-center">
                                    <a href="{% url 'users_app:user-documentos-editar' doc.id %}">
                                        <i class="far fa-edit text-dark text-lg"></i>
                                    </a>
                                    &emsp;
                                    <a href="{% url 'users_app:user-documentos-eliminar' doc.id %}">
                                        <i class="far fa-trash-alt text-primary text-lg"></i>
                                    </a>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-header p-3 pb-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">Documentos Financieros</h6>
                    <span class="d-flex align-items-center">

                        <a class="btn btn-primary btn-sm  mb-0 ms-2 align-items-center justify-content-center"
                            href="{% url 'users_app:user-documento-crear' worker.person.id %}">
                            <span class="btn-inner--text">Agregar</span>
                        </a>
                    </span>
                </div>
            </div>

            <div class="card-body pt-0 px-0 pb-0">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0" id="datatable-docFin">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Fecha
                                </th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                    id Doc</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                    Descripción</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                    Monto</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                    Doc</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doc in worker.docsFin %}
                            <tr>
                                <td class="text-start text-sm">{{ doc.created|date:"Y-m-d" }}</td>
                                <td class="text-start text-sm">{{ doc.idInvoice }}</td>
                                <td class="text-start text-sm">{{ doc.description }}</td>
                                <td class="text-start text-sm">{{ doc.get_typeCurrency_display }} {{ doc.amount }}</td>
                                <td>
                                    {% if doc.pdf_file %}
                                    <a href="/media/{{ doc.pdf_file }}">
                                        <i class="far fa-file-pdf text-info text-lg"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock panel-content %}

{% block JSscripts %}

<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>
    if (document.querySelector('.datetimepicker')) {
        flatpickr('.datetimepicker', {
            allowInput: true,
            mode: "range"
        }); // flatpickr
    }
</script>

<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>

    const dataTableUser = new simpleDatatables.DataTable("#datatable-docAdmin", {
        searchable: true,
        fixedHeight: false,
        perPage: 5
    });

    const dataTableDocFin = new simpleDatatables.DataTable("#datatable-docFin", {
        searchable: true,
        fixedHeight: false,
        perPage: 5
    });
</script>

{% endblock JSscripts %}